/* TYPOGRAPHY */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWJBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/* TYPOGRPAHY COLORS */

.pink-text {
  color: #F93C58;
}

.sitecore-red-text {
  color: #E43026;
}
/* TYPOGRAPHY END */


/* BUTTONS */

.btn-xl {
  border-radius: 5px !important;
  font-size: 29px;
  padding: 28px 65px !important;
  line-height: 35px;
}

.btn-success {
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #5BB75B;
  background-image: linear-gradient(to bottom, #62C462, #51A351);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.sitecore-btn {
  background-color: #E43026;
  border: 6px solid #E36E67;
  padding: 20px 50px;
  font-size: 23px;
  color: #fff;
  border-radius: 4px;
}

.sitecore-btn:hover {
  background-color:  #e36e67;
  border: 6px solid #e43026;
}
/* BUTTONS END */


/* SHARED STYLES START */
.hideme {
  opacity: 0;
}

.breadcrumb-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto 30px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.breadcrumb-wrapper > ul {
  margin-bottom: 0;
}

.breadcrumb-wrapper > ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 5px 0;
}

.shadow-top {
  background-image: url("../images/shadow-top.png");
  background-repeat: repeat-x;
  height: 22px;
  width: 100%;
}

.shadow-bottom {
  background-image: url("../images/shadow-bottom.png");
  background-repeat: repeat-x;
  height: 22px;
  width: 100%;
}
/* SHARED STYLES END */

/* CONSULTING PAGE START*/
.consulting-quote {
  min-height: 400px;
  padding: 30px 15px;
  margin: 35px auto;
}

.consulting-quote > h1 {
  font-size: 58px;
  margin-bottom: 15px;
}

.quote {
  margin: 15px 5px 0px 0px;
  padding: 20px;
  max-width: 1400px;
  width: 100%;
  background-color: #EFEFEF;
  color: #333;
  font-size: 18px;
  line-height: 35px;
}

.quote h5 {
  font-size: 18px;
}

.quote-arrow {
  margin: 0px 0px 10px 40px;
  width: 36px;
  height: 18px;
  background-image: url("../images/consultingArrowLightGrey.png");
}

.quote-attribute h4 {
  font-size: 26px;
  color: #666;
  margin-bottom: 7px;
}

.quote-attribute p {
  color: #666;
  line-height: 20px;
}

.consulting-about-us > .column-60 {
  padding: 9% 0 0 75px;
}

.consulting-about-us > .column-60 h2 {
  font-size: 52px;
  margin-bottom: 40px;
}

.consulting-about-us > .column-60 p {
  font-size: 20px;
  color: #666;
  font-weight: 200;
}

.consulting-about-us > .column-40 {
  text-align: center;
  margin: 30px 0;
}

.consulting-about-us img {
  width: 33%;
  display: block;
  margin: 25px auto 0;
}

.consulting-ui-design {
  margin: 35px auto 50px;;
  font-family: 'Raleway';
}

.consulting-ui-design > .column-40 {
  margin-top: 30px;
}
.consulting-ui-design h1 {
  font-family: inherit;
  font-size: 115px;
  font-weight: 200;
  line-height: 65px;
  margin-bottom: 50px;
}

.consulting-ui-design p {
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
  color: #666;
  margin-bottom: 25px;
}

.design-button {
  color: #FFF;
  font-size: 27px;
  font-weight: 100;
  border-radius: 4px;
  background-color: #1483C6;
  border: 6px solid #BAE0F7;
  padding: 20px 50px;
}

.consulting-alm-wrapper {
  background-color: #efefef;
}

.consulting-alm > .column-60 {
  margin: 40px auto 50px 7%;
  color: #333;
  width: 45%;
}

.consulting-alm > .column-40 img {
  width: 85%;
  margin: 50px auto;
  float: right;
}

.consulting-alm h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.consulting-alm h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.consulting-alm h3 {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 15px;
}

.consulting-partners {
  margin: 50px auto;
  text-align: center;
}

.consulting-partners h1 {
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: left;
}

.consulting-partners-icons img {
  width: 17%;
  margin-right: 25px;
  margin-bottom: 20px;
}

.consulting-partners-icons > img.last {
  margin-right: 0;
}
/* CONSULTING PAGE END*/

/* COMPANY PAGE START */
.company-header-banner {
  margin-top: 35px;
}

.company-about-us {
  margin: 30px auto;
}

.about-us-icons {
  max-width: 1300px;
  margin: 30px auto;
  text-align: center;
  height: auto;
}

.about-us-icons > .column-15 {
  margin: 0 15px 0 0;
}

.about-us-h1 {
  margin-top: 10px
}

.column-15.last {
  margin: 0;
}

.company-hiring {
  background-image: url("../images/hiring-back.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.company-hiring-copy {
  max-width: 1000px;
  min-height: 430px;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 75px 25px;
}

.company-hiring-copy h4 {
  margin: 15px 0;
}

.company-video {
  width: 1200px;
  margin: 0px auto;
  clear: both;
  margin-bottom: 100px;
}

.company-video h1 {
  width: 90%;
  margin: 30px auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0px;
  overflow: hidden;
  width: 90%;
  margin: auto;
}

.video-container iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* COMPANY PAGE END */


/* TEAM PAGE START */
.team-wrapper,
.partners-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.team-member,
.partner {
  height: auto;
  margin-bottom: 65px;
  overflow: hidden;
}

.team-header-banner,
.partners-header-banner {
  margin: 35px 0;
}

.img-float-right {
  float: right;
  padding: 0 0 5px 7px;
  max-height: 150px;
  max-width: 150px;
}

.member-certs > img {
  max-height: 150px;
  max-width: 150px;
  margin: 0 45px;
  display: inline-block;
}

.team-member > .column-75 {
  float: right;
}

/* TEAM PAGE END */


/* PARTNER PAGE START */

.partner > .column-75 {
  padding: 40px 0 0 40px;
}

.partner > .column-25 img {
  width: 90%;
}

/* PARTNER PAGE END */


/* CONSULTING > SITECORE SERVICES PAGE START */

.sitecore-banner {
  min-height: 500px;
  height: auto;
}

.sitecore-banner > .column-40 {
  margin-top: 30px;
  padding: 0 0 0 5%;
}

.sitecore-banner > .column-40 img {
  margin-bottom: 20px;
}

.sitecore-banner > .column-40 p {
  font-size: 22px;
  font-family: 'Raleway';
  font-weight: 200;
  margin-bottom: 35px;
}

.sitecore-banner > .column-60 { 
  padding: 0 0 0 2%;
}

.sitecore-dev {
  margin: 35px auto;
}

.sitecore-dev > .column-50 {
  padding: 0 0 0 3%;
}

.sitecore li {
  color: #333;
  font-size: 14px;
}

.sitecore-dev h3 {
  margin-bottom: 20px;
}

.sitecore > h2 {
  font-size: 74px;
  line-height: 75px;
  margin-bottom: 20px;
}

.sitecore-mentor {
  margin: 35px auto 50px;
}

.sitecore-mentor > .column-40 img {
  float: right;
  padding-right: 50px;
}

.sitecore-mentor h4 {
  margin-bottom: 15px;
}

.sitecore-contact {
  text-align: center;
  margin: 55px auto;
}

/* CONSULTING > SITECORE SERVICES PAGE END */
