/* Your CSS codes here */
/* grid */

@charset "UTF-8";
.column-10,.column-100,.column-15,.column-20,.column-25,.column-30,.column-35,.column-40,.column-45,.column-5,.column-50,.column-55,.column-60,.column-65,.column-70,.column-75,.column-80,.column-85,.column-90,.column-95,.column1,.column2,.column3,.column4,.column5,.column6,.column75,.one-quarter,.three-quarter{float:left}.spacer-140{height:140px}.column6{width:16.666%}.column5{width:20%}.column4{width:25%}.column3{width:33%}.column2{width:50%}.column1{width:100%}.column75{width:75%}.column-5{width:5%}.column-10{width:10%}.column-15{width:15%}.column-20{width:20%}.column-25{width:25%}.column-30{width:30%}.column-35{width:35%}.column-40{width:40%}.column-45{width:45%}.column-50{width:50%}.column-55{width:55%}.column-60{width:60%}.column-65{width:65%}.column-70{width:70%}.column-75{width:75%}.column-80{width:80%}.column-85{width:85%}.column-90{width:90%}.column-95{width:95%}.column-100{width:100%}.width-5{width:5%}.width-10{width:10%}.width-15{width:15%}.width-20{width:20%}.width-25{width:25%}.width-30{width:30%}.width-35{width:35%}.width-40{width:40%}.width-45{width:45%}.width-50{width:50%}.width-55{width:55%}.width-60{width:60%}.width-65{width:65%}.width-70{width:70%}.width-75{width:75%}.width-80{width:80%}.width-85{width:85%}.width-90{width:90%}.width-95{width:95%}.width-100{width:100%}

p{color:#14171a; font-size: 15px;}

h1, h2, h3, h4, h5, h6 {
    color: #14171a;
    font-weight:200;
}
h4 {
    font-size: 18px;
    line-height: 33px;
    margin: 28px 0 10px 0;
}
img {
    border: 0px none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.header-2 .navigation .mgmenu > li > a, .header-2 .navigation .mgmenu > li > span {
    font-size: 22px;
    font-weight: 200;
    color: #4695CC;
}
.outer .container {
    max-width: 1400px;
}
.header-2 .logo {
    margin: 0px;
}
.header-2 {
    padding: 5px 0;
}
.block-heading-two h3 span {
    padding-bottom: 8px;
    font-size: 34px;
    font-weight: 200;
}
.foot, footer {
    background-color:#14171a;
}
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.foot ul{list-style-type: none; font-weight:200; font-size:14px; padding:0px;}
.foot .head {
    font-size: 24px;
    margin: 18px 0px 22px;
    color: #FFF;
}
.foot ul a{color:#fff;}
.foot ul a:hover{color:#cccccc;}
.services ul{list-style-type: none;}
.services li {
    float: left;
    width: 12%;
    margin: 0px 23px 0px 0px;
    text-align: center;
}
.btn{
	-webkit-border-radius: 35px;
-moz-border-radius: 35px;
border-radius: 35px;
}
.background-light-grey{background:#f2f2f2; background-image: url("../images/raster.png")}
.quote-two {
    background-image: url("../images/raster.png"), url("../images/quote-back.jpg");
}
.quote-two .quote-two-content h3 {
    font-size: 28px;
    line-height: 38px;
}
.shadow-top {
    background-image: url("../images/shadow-top.png");
    background-repeat: repeat-x;
    height: 22px;
    width: 100%;
}
.shadow-bottom {
    background-image: url("../images/shadow-bottom.png");
    background-repeat: repeat-x;
    height: 22px;
    width: 100%;
}
.cms-banner-wrapper h1 {
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 68px;
    margin: 0px;
    text-align: left;
}
.cms-banner-wrapper p {
margin: 5% 0;
}
.design-button a {
    background-color: #202C3C;
    color: #fff;
    padding: 12px 50px;
    font-size: 27px;
    border-radius: 4px;
}
.design-button a:hover {
	text-decoration:none;
}
.design-button {
    padding: 36px 0;
}
.green-button a {
    background-color: #8ECC3D;
}
.green-button a:hover {
    background-color: #ABD970;
}
.green-button-border a {
background-color: #449d44;
border: 6px solid #398439;
padding: 20px 50px;
}
.sitecore-banner-wrapper .column-40 {
    padding: 3% 0px 0px 5%;
    width: 35%;
}
.news-press-home-wrapper {padding-left:10px; padding-right:10px;}
.news-press-home-wrapper h4 a {
    color: #609CEC;
    font-size: 24px;
    margin: 0px 0px 10px;
    display: inline-block;
}
.news-press-home-wrapper p {
    line-height: 20px;
    margin: 0px 0px 18px;
}
.cms-banner-wrapper .column-60 {
    width: 65%;
}
.cms-banner-wrapper p {
    margin: 5% 0px;
    font-size: 20px;
    font-weight: 200;
}
.xamarin-home-banner .banner-info h1 {
    font-size: 75px;
    line-height: 73px;
    color:#ffffff;
}
.xamarin-home-banner p {
    color: #333;
    font-size: 34px;
    font-weight: 200;
    line-height: 41px;
    margin: 39px 0 64px 0;
}
.xamarin-home-banner .btn-primary {
    background-color: #7EA6CD;
    background-image: none;
    border-color: #FFF;
}
.xamarin-home-banner .banner-info {
    background: none repeat scroll 0px 0px transparent;
}
.banner-info {
    background: url("../images/banner-back.png") repeat scroll 0px 0px transparent;
    left: 10%;
    padding: 20px;
    position: absolute;
    top: 15%;
    width: 62%;
}
.banner-info {
    top: 4%;
    width: 79%;
}
.banner-wrapper {
    margin: 0px 0px 9px;
    position: relative;
}

.slider-nav__item {
    background: none repeat scroll 0% 0% #609CEC;
}
 .slider-nav__item--current {
    background: none repeat scroll 0% 0% #C9DCEE;
}
.consulting-link, .training-link, .custom-link{
	position:absolute;
	background-image:url(../images/invisible-back.png);
	background-repeat:repeat;
	width:300px;
	height:300px;
	z-index:1000;
}
.custom-link {
    left: 44%;
    top: 25%;
}
.training-link {
    right: 3%;
    top: 30%;
}
.consulting-link{
    left: 2%;
    top: 35%;

}
.btn-xl, .btn-group-xl > .btn {
    font-size: 29px;
    padding: 10px 57px;
    font-weight: 200;
}
.xamarin-home-banner .btn-primary:hover {
    background: #85b8d3;
}
.fu-home-banner .btn-primary {
    background-color: #8cc63f;
    background-image: none;
    border-color: #fff;
}
.fu-home-banner .btn-primary:hover {
    background: #a1e24a;
}
.fu-home-banner .banner-info h1 {
    color: #000;
}
.services h2{font-size:100px;}
.services ul{margin: 70px 0 0 0;}
.blue-text{color:#609CEC;}
.mgmenu_container > .mgmenu > li.mgmenu_button, .mgmenu_fixed > .mgmenu > li.mgmenu_button, .mgmenu_footer > .mgmenu > li.mgmenu_button {
    background-image: url("../images/toggle.png");
}
.white-text{color:#fff;}
.training-types ul{list-style-type: none; padding:75px 0;}
.training-types li {
    float: left;
    width: 18.3%;
    margin: 0px 23px 0px 0px;
    text-align: center;
}
.training-types h2 {
    font-size: 50px;
}
.training-types h3 {
    font-size: 27px;
    line-height: 37px;
    margin: 0 0 20px 0;
}
.training-types h4 {
    font-size: 20px;
    margin: 18px 0 0 0;
}
.fu-training-wrapper p{
font-size: 32px;
line-height: 38px;
margin:0 0 10px 0;
font-weight:200;
} 
.training-guides-wrapper div {
    float: left;
    margin: 0px 42px 0px 0px;
    width: 13%;
    text-align: center;
}
.training-guides-wrapper h2 {
    color: #4695CC;
    font-size: 49.5px;
    font-weight: 200;
    margin: 0px 0px 51px;
}
.training-guides-wrapper h3 {
    color: #4695CC;
    font-size: 18px;
    margin: 10px 0px 30px;
}
.pluralsight-training-wrapper {
    background-color: #FF6700;
    color: #FFF;
    height: 187px;
    margin: 4px 0px 0px;
    padding: 17px 20px 5px;
    width: 1325px;
    border-radius: 5px;
}
.pluralsight-training-wrapper p {
    color: #FFF;
    font-size: 16px;
    margin: 15px 0 0 0;
}
.whiteText {
    color: #FFF !important;
}
.contactBold {
    color: #8CC043;
    font-size: 17px;
}
.foot {
    margin-top: 30px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.breadcrumb ul{}
.breadcrumb li{list-style-type: none; float: left; margin: 0 10px 0 0;}
.text-align-center{text-align: center;}
/* ====================       Design       ==================== */
.design-wrapper-banner .bubble-1 img {
    margin: 52px 0 0 35px;
}
.design-wrapper-banner .bubble-3 img {
    margin: 100px 0 0 47px;
}
.pink-text{
    color:#FF4C4C;
}
.design-wrapper h1 {
    font-size: 115px;
    font-weight: 200;
    letter-spacing: -3px;
    margin: 4px 0px 86px;
    text-align: center;
}
.design-wrapper h2 {
    color: #1E2C3B;
    font-size: 74px;
    font-weight: 200;
    letter-spacing: -4px;
    margin: 0px 0px 50px;
}
.design-wrapper p {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin: 30px 0px;
}
.text-align-right {
    text-align: right;
}
.design-portfolio-item {
    text-align: center;
    margin: 150px 0px;
}

/* ====================        Microsoft Services        ==================== */

.msServicesBanner {
    height: 412px;
    background-image: url("../images/msServicesBanner.jpg");
    background-repeat: no-repeat;
}
.serviceNavigation {
    margin: 100px 0px 0px 45px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.floatLeft {
    float: left;
}
.serviceNavigation li {
    margin: 14px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.serviceNavigation a {
    color: #FFF;
}
.microsoftServices h1 {
    margin: 27px 0px 26px;
    color: #4695CC;
    letter-spacing: -3px;
    font-size: 43px;
}
.microsoftServices ul {
    margin: 0px;
    padding: 4px 0px 3px 3px;
    list-style-image: url("../images/ms_bullet2.png");
    font-size: 14px;
}
.microsoftServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.largeButton {
    padding: 26px;
    min-width: 207px;
    font-size: 28px;
    border-radius: 5px;
}
.redButton, .greenButton, .orangeButton, .purpleButton, .blueButton, .greyButton, .telerikGreenButton, .smartbearBlueButton, .darkGreyButton {
    margin: 10px 5px 0px 0px;
    padding: 20px 0;
    width: 100px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.blueButton {
    background-color: #4695CC;
}
.blueButton:hover {
    background-color: #6BAAD6;
}
.btn-md{padding:8px 25px; font-size: 16px;}
.ms-training img{margin:20px 0px;}
.ms-training p{min-height:90px;}
.services-banner{background-size: contain;}
.btn-margin{margin: 20px 0;}
.cms-banner-wrapper h1 {
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 51px;
    margin: 0px;
    text-align: left;
}
/* ====================       Telerik Services        ==================== */

.telerikServicesBanner {
    height: 404px;
    background-image: url("../images/telerikServicesBanner.jpg");
    background-repeat: no-repeat;
}
.telerikBullet {
    list-style-image: url("../images/telerikBullet.png");
    margin: 122px 0px 0px 30px;
}
.telerikBullet li {
    margin: 9px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.telerikServices h1 {
    color: #5DE500;
    font-size: 43px;
    letter-spacing: -3px;
    margin: 30px 0px 18px;
}
.telerikServices ul {
    margin: 0px;
    padding: 0 0 0 28px;
    list-style-image: url("../images/telerik_bullet_16.jpg");
    font-size: 14px;
} 
.serviceMain li {
    margin: 18px 0px;
    font-size: 20px;
}
.telerik-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #5DE500;
    border: none;
}
.telerik-services .btn.btn-color:hover {
    background-color: #9de66a;
}
.telerik-mentor-title {
    color: #5DE500;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.kendo-mentor-title {
    color: #00B000;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.telerikServices p {
    font-size: 14px;
    margin: 0px 20px 0px 0px;
}
.kendo-training-wrapper-3 .left {
    margin: 0px 6px 0px 0px;
}
.telerikServices h3 {
    margin: 10px 0px 5px;
    color: #5DE500;
    text-align: left;
}

/* ====================    Mobile Services        ==================== */
.mobileServicesBanner {
    height: 407px;
    background-image: url("../images/mobileServicesBanner.jpg");
    background-repeat: no-repeat;
}
.mobileBullet {
    list-style-image: url("../images/mobileBullet.png");
}
.serviceNavigation li {
    margin: 18px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.mobile-platforms li {
    float: left;
    list-style-type: none;
    width: 14.7%;
}
.mobileServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.mobileServices h1 {
    margin: 30px 0px;
    color: #2BB14A;
    letter-spacing: -3px;
    font-size: 43px;
}
.mobileServices h2 {
    margin: 10px 0px 16px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 32px;
}
.mobileServices h3 {
    margin: 10px 0px 5px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 19px;
}
.mobile-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #2BB14A;
    border: none;
}
.mobile-services .btn.btn-color:hover {
    background-color: #53C16B;
}

/* ====================       SmartBear Services        ==================== */

.smartbearServices h1{color:#195ca6;}
.smartbearServices .btn.btn-color {
    background: none repeat scroll 0% 0% #195ca6;
    color: #FFF;
}
.smartbearServices .btn.btn-color:hover {
    background-color: #3b6ea6;
}
.sbServicesBanner {
    height: 404px;
    background-image: url("../images/sbServicesBanner.jpg");
    background-repeat: no-repeat;
}
.sbBullet {
    list-style-image: url("../images/sbBullet.png");
}
.consultingBoxTwo {
    margin: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    background-color: #175CA6;
    color: #FFF;
    line-height: 25px;
}
.consultingArrowTwo {
    margin: 0px 0px 0px 40px;
    width: 36px;
    height: 18px;
    background-image: url("../images/consultingArrowTwo.png");
}
.consultingBoxTwo p{color:#fff;}
.smartbearServices h4{color:#195ca6;}
.smartbearServices-title {
    color: #175CA6;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 33px;
    margin: 20px 0 6px 0;
}
.titleBold {
    color: #333;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 22px !important;
}
#pricing th {
    padding: 5px;
    width: 25%;
    background-image: url("http://static.mailchimp.com/www/images/th-arrow.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: #787975;
    vertical-align: middle;
    text-indent: 15px;
    font-size: 14px;
}
#pricing table {
    margin: 15px 0 0 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    text-align: left;
}
#pricing tr.top td {
    min-width: 265px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #efefef;
    color: #2a73b8;
    letter-spacing: -.03em;
    font-weight: bold;
    font-size: 28px;
}
#pricing td {
    padding: 21px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
#pricing .monthly-plans tr.mid td.free {
    background: none repeat scroll 0 0 #45bcd2;
}
#pricing .monthly-plans tr.mid td {
    font-size: 30px;
}
#pricing tr.mid td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.bot td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.botTwo td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}









.background-blue-grad {
    background-image: url("../images/blue-gradient-back.png");
    background-repeat: repeat;
}
.width-10{width:10%;}
.width-20{width:20%;}
.width-30{width:30%;}
.width-40{width:40%;}
.width-50{width:50%;}
.width-60{width:60%;}
.width-70{width:70%;}
.width-80{width:80%;}
.width-90{width:90%;}
.width-100{width:100%;}


.wrapper-50{padding-top:50px; padding-bottom:50px;}
.wrapper-75{padding-top:75px; padding-bottom:75px;}
.wrapper-100{padding-top:100px; padding-bottom:100px;}
.wrapper-50-last{padding-top:50px;}
.wrapper-75-last{padding-top:75px;}
.wrapper-100-last{padding-top:100px;}




 /* line heights */
	.line-height-16{line-height:16px}.line-height-18{line-height:18px}.line-height-20{line-height:20px}.line-height-22{line-height:22px}.line-height-24{line-height:24px}.line-height-26{line-height:26px}.line-height-28{line-height:28px}.line-height-30{line-height:30px}
	
	/* font sizes */
	.font-size-12{font-size:12px}.font-size-14{font-size:14px}.font-size-16{font-size:16px}.font-size-18{font-size:18px}.font-size-20{font-size:20px}.font-size-22{font-size:22px}.font-size-24{font-size:24px}.font-size-26{font-size:26px}.font-size-28{font-size:28px}.font-size-30{font-size:30px}.font-size-32{font-size:32px}.font-size-34{font-size:34px}.font-size-36{font-size:36px}.font-size-38{font-size:38px}.font-size-40{font-size:40px}.font-size-42{font-size:42px}.font-size-44{font-size:44px}.font-size-46{font-size:46px}.font-size-48{font-size:48px}.font-size-50{font-size:50px}.font-size-52{font-size:52px}.font-size-54{font-size:54px}.font-size-56{font-size:56px}.font-size-58{font-size:58px}.font-size-60{font-size:60px}

/* ====================         ==================== */
/* ==================== spacing ==================== */
/* ====================         ==================== */
.margin-top-5{margin-top:5px}.margin-top-10{margin-top:10px}.margin-top-15{margin-top:15px}.margin-top-20{margin-top:20px}.margin-top-25{margin-top:25px}.margin-top-30{margin-top:30px}.margin-top-35{margin-top:35px}.margin-top-40{margin-top:40px}.margin-top-45{margin-top:45px}.margin-top-50{margin-top:50px}.margin-top-55{margin-top:55px}.margin-top-60{margin-top:60px}.margin-top-65{margin-top:65px}.margin-top-70{margin-top:70px}.margin-top-75{margin-top:75px}.margin-top-80{margin-top:80px}.margin-top-85{margin-top:85px}.margin-top-90{margin-top:90px}.margin-top-95{margin-top:95px}.margin-top-100{margin-top:100px}.margin-bottom-5{margin-bottom:5px}.margin-bottom-10{margin-bottom:10px}.margin-bottom-15{margin-bottom:15px}.margin-bottom-20{margin-bottom:20px}.margin-bottom-25{margin-bottom:25px}.margin-bottom-30{margin-bottom:30px}.margin-bottom-35{margin-bottom:35px}.margin-bottom-40{margin-bottom:40px}.margin-bottom-45{margin-bottom:45px}.margin-bottom-50{margin-bottom:50px}.margin-bottom-55{margin-bottom:55px}.margin-bottom-60{margin-bottom:60px}.margin-bottom-65{margin-bottom:65px}.margin-bottom-70{margin-bottom:70px}.margin-bottom-75{margin-bottom:75px}.margin-bottom-80{margin-bottom:80px}.margin-bottom-85{margin-bottom:85px}.margin-bottom-90{margin-bottom:90px}.margin-bottom-95{margin-bottom:95px}.margin-bottom-100{margin-bottom:100px}.margin-top-bottom-5{margin-bottom:5px;margin-top:5px}.margin-top-bottom-10{margin-bottom:10px;margin-top:10px}.margin-top-bottom-15{margin-bottom:15px;margin-top:15px}.margin-top-bottom-20{margin-bottom:20px !important;margin-top:20px !important;}.margin-top-bottom-25{margin-bottom:25px;margin-top:25px}.margin-top-bottom-30{margin-bottom:30px;margin-top:30px}.margin-top-bottom-35{margin-bottom:35px;margin-top:35px}.margin-top-bottom-40{margin-bottom:40px;margin-top:40px}.margin-top-bottom-45{margin-bottom:45px;margin-top:45px}.margin-top-bottom-50{margin-bottom:50px;margin-top:50px}.margin-top-bottom-55{margin-bottom:55px;margin-top:55px}.margin-top-bottom-60{margin-bottom:60px;margin-top:60px}.margin-top-bottom-65{margin-bottom:65px;margin-top:65px}.margin-top-bottom-70{margin-bottom:70px;margin-top:70px}.margin-top-bottom-75{margin-bottom:75px;margin-top:75px}.margin-top-bottom-80{margin-bottom:80px;margin-top:80px}.margin-top-bottom-85{margin-bottom:85px;margin-top:85px}.margin-top-bottom-90{margin-bottom:90px;margin-top:90px}.margin-top-bottom-95{margin-bottom:95px;margin-top:95px}.margin-top-bottom-100{margin-bottom:100px;margin-top:100px}.margin-left-5{margin-left:5px}.margin-left-10{margin-left:10px}.margin-left-15{margin-left:15px}.margin-left-20{margin-left:20px}.margin-left-25{margin-left:25px}.margin-left-30{margin-left:30px}.margin-left-35{margin-left:35px}.margin-left-40{margin-left:40px}.margin-left-45{margin-left:45px}.margin-left-50{margin-left:50px}.margin-left-55{margin-left:55px}.margin-left-60{margin-left:60px}.margin-left-65{margin-left:65px}.margin-left-70{margin-left:70px}.margin-left-75{margin-left:75px}.margin-left-80{margin-left:80px}.margin-left-85{margin-left:85px}.margin-left-90{margin-left:90px}.margin-left-95{margin-left:95px}.margin-left-100{margin-left:100px}.margin-right-5{margin-right:5px}.margin-right-10{margin-right:10px}.margin-right-15{margin-right:15px}.margin-right-20{margin-right:20px}.margin-right-25{margin-right:25px}.margin-right-30{margin-right:30px}.margin-right-35{margin-right:35px}.margin-right-40{margin-right:40px}.margin-right-45{margin-right:45px}.margin-right-50{margin-right:50px}.margin-right-55{margin-right:55px}.margin-right-60{margin-right:60px}.margin-right-65{margin-right:65px}.margin-right-70{margin-right:70px}.margin-right-75{margin-right:75px}.margin-right-80{margin-right:80px}.margin-right-85{margin-right:85px}.margin-right-90{margin-right:90px}.margin-right-95{margin-right:95px}.margin-right-100{margin-right:100px}.margin-left-right-5{margin-left:5px;margin-right:5px}.margin-left-right-10{margin-left:10px;margin-right:10px}.margin-left-right-15{margin-left:15px;margin-right:15px}.margin-left-right-20{margin-left:20px;margin-right:20px}.margin-left-right-25{margin-left:25px;margin-right:25px}.margin-left-right-30{margin-left:30px;margin-right:30px}.margin-left-right-35{margin-left:35px;margin-right:35px}.margin-left-right-40{margin-left:40px;margin-right:40px}.margin-left-right-45{margin-left:45px;margin-right:45px}.margin-left-right-50{margin-left:50px;margin-right:50px}.margin-left-right-55{margin-left:55px;margin-right:55px}.margin-left-right-60{margin-left:60px;margin-right:60px}.margin-left-right-65{margin-left:65px;margin-right:65px}.margin-left-right-70{margin-left:70px;margin-right:70px}.margin-left-right-75{margin-left:75px;margin-right:75px}.margin-left-right-80{margin-left:80px;margin-right:80px}.margin-left-right-85{margin-left:85px;margin-right:85px}.margin-left-right-90{margin-left:90px;margin-right:90px}.margin-left-right-95{margin-left:95px;margin-right:95px}.margin-left-right-100{margin-left:100px;margin-right:100px}.margin-5{margin:5px}.margin-10{margin:10px}.margin-15{margin:15px}.margin-20{margin:20px}.margin-25{margin:25px}.margin-30{margin:30px}.margin-35{margin:35px}.margin-40{margin:40px}.margin-45{margin:45px}.margin-50{margin:50px}.margin-55{margin:55px}.margin-60{margin:60px}.margin-65{margin:65px}.margin-70{margin:70px}.margin-75{margin:75px}.margin-80{margin:80px}.margin-85{margin:85px}.margin-90{margin:90px}.margin-95{margin:95px}.margin-100{margin:100px}.padding-top-5{padding-top:5px}.padding-top-10{padding-top:10px}.padding-top-15{padding-top:15px}.padding-top-20{padding-top:20px}.padding-top-25{padding-top:25px}.padding-top-30{padding-top:30px}.padding-top-35{padding-top:35px}.padding-top-40{padding-top:40px}.padding-top-45{padding-top:45px}.padding-top-50{padding-top:50px}.padding-top-55{padding-top:55px}.padding-top-60{padding-top:60px}.padding-top-65{padding-top:65px}.padding-top-70{padding-top:70px}.padding-top-75{padding-top:75px}.padding-top-80{padding-top:80px}.padding-top-85{padding-top:85px}.padding-top-90{padding-top:90px}.padding-top-95{padding-top:95px}.padding-top-100{padding-top:100px}.padding-bottom-5{padding-bottom:5px}.padding-bottom-10{padding-bottom:10px}.padding-bottom-15{padding-bottom:15px}.padding-bottom-20{padding-bottom:20px}.padding-bottom-25{padding-bottom:25px}.padding-bottom-30{padding-bottom:30px}.padding-bottom-35{padding-bottom:35px}.padding-bottom-40{padding-bottom:40px}.padding-bottom-45{padding-bottom:45px}.padding-bottom-50{padding-bottom:50px}.padding-bottom-55{padding-bottom:55px}.padding-bottom-60{padding-bottom:60px}.padding-bottom-65{padding-bottom:65px}.padding-bottom-70{padding-bottom:70px}.padding-bottom-75{padding-bottom:75px}.padding-bottom-80{padding-bottom:80px}.padding-bottom-85{padding-bottom:85px}.padding-bottom-90{padding-bottom:90px}.padding-bottom-95{padding-bottom:95px}.padding-bottom-100{padding-bottom:100px}.padding-top-bottom-5{padding-bottom:5px;padding-top:5px}.padding-top-bottom-10{padding-bottom:10px;padding-top:10px}.padding-top-bottom-15{padding-bottom:15px;padding-top:15px}.padding-top-bottom-20{padding-bottom:20px;padding-top:20px}.padding-top-bottom-25{padding-bottom:25px;padding-top:25px}.padding-top-bottom-30{padding-bottom:30px;padding-top:30px}.padding-top-bottom-35{padding-bottom:35px;padding-top:35px}.padding-top-bottom-40{padding-bottom:40px;padding-top:40px}.padding-top-bottom-45{padding-bottom:45px;padding-top:45px}.padding-top-bottom-50{padding-bottom:50px;padding-top:50px}.padding-top-bottom-55{padding-bottom:55px;padding-top:55px}.padding-top-bottom-60{padding-bottom:60px;padding-top:60px}.padding-top-bottom-65{padding-bottom:65px;padding-top:65px}.padding-top-bottom-70{padding-bottom:70px;padding-top:70px}.padding-top-bottom-75{padding-bottom:75px;padding-top:75px}.padding-top-bottom-80{padding-bottom:80px;padding-top:80px}.padding-top-bottom-85{padding-bottom:85px;padding-top:85px}.padding-top-bottom-90{padding-bottom:90px;padding-top:90px}.padding-top-bottom-95{padding-bottom:95px;padding-top:95px}.padding-top-bottom-100{padding-bottom:100px;padding-top:100px}.padding-left-5{padding-left:5px}.padding-left-10{padding-left:10px}.padding-left-15{padding-left:15px}.padding-left-20{padding-left:20px}.padding-left-25{padding-left:25px}.padding-left-30{padding-left:30px}.padding-left-35{padding-left:35px}.padding-left-40{padding-left:40px}.padding-left-45{padding-left:45px}.padding-left-50{padding-left:50px}.padding-left-55{padding-left:55px}.padding-left-60{padding-left:60px}.padding-left-65{padding-left:65px}.padding-left-70{padding-left:70px}.padding-left-75{padding-left:75px}.padding-left-80{padding-left:80px}.padding-left-85{padding-left:85px}.padding-left-90{padding-left:90px}.padding-left-95{padding-left:95px}.padding-left-100{padding-left:100px}.padding-right-5{padding-right:5px}.padding-right-10{padding-right:10px}.padding-right-15{padding-right:15px}.padding-right-20{padding-right:20px}.padding-right-25{padding-right:25px}.padding-right-30{padding-right:30px}.padding-right-35{padding-right:35px}.padding-right-40{padding-right:40px}.padding-right-45{padding-right:45px}.padding-right-50{padding-right:50px}.padding-right-55{padding-right:55px}.padding-right-60{padding-right:60px}.padding-right-65{padding-right:65px}.padding-right-70{padding-right:70px}.padding-right-75{padding-right:75px}.padding-right-80{padding-right:80px}.padding-right-85{padding-right:85px}.padding-right-90{padding-right:90px}.padding-right-95{padding-right:95px}.padding-right-100{padding-right:100px}.padding-left-right-5{padding-left:5px;padding-right:5px}.padding-left-right-10{padding-left:10px;padding-right:10px}.padding-left-right-15{padding-left:15px;padding-right:15px}.padding-left-right-20{padding-left:20px;padding-right:20px}.padding-left-right-25{padding-left:25px;padding-right:25px}.padding-left-right-30{padding-left:30px;padding-right:30px}.padding-left-right-35{padding-left:35px;padding-right:35px}.padding-left-right-40{padding-left:40px;padding-right:40px}.padding-left-right-45{padding-left:45px;padding-right:45px}.padding-left-right-50{padding-left:50px;padding-right:50px}.padding-left-right-55{padding-left:55px;padding-right:55px}.padding-left-right-60{padding-left:60px;padding-right:60px}.padding-left-right-65{padding-left:65px;padding-right:65px}.padding-left-right-70{padding-left:70px;padding-right:70px}.padding-left-right-75{padding-left:75px;padding-right:75px}.padding-left-right-80{padding-left:80px;padding-right:80px}.padding-left-right-85{padding-left:85px;padding-right:85px}.padding-left-right-90{padding-left:90px;padding-right:90px}.padding-left-right-95{padding-left:95px;padding-right:95px}.padding-left-right-100{padding-left:100px;padding-right:100px}.padding-5{padding:5px}.padding-10{padding:10px}.padding-15{padding:15px}.padding-20{padding:20px}.padding-25{padding:25px}.padding-30{padding:30px}.padding-35{padding:35px}.padding-40{padding:40px}.padding-45{padding:45px}.padding-50{padding:50px}.padding-55{padding:55px}.padding-60{padding:60px}.padding-65{padding:65px}.padding-70{padding:70px}.padding-75{padding:75px}.padding-80{padding:80px}.padding-85{padding:85px}.padding-90{padding:90px}.padding-95{padding:95px}.padding-100{padding:100px}.spacer-5{height:5px}.spacer-10{height:10px}.spacer-15{height:15px}.spacer-20{height:20px}.spacer-25{height:25px}.spacer-30{height:30px}.spacer-35{height:35px}.spacer-40{height:40px}.spacer-45{height:45px}.spacer-50{height:50px}.spacer-55{height:55px}.spacer-60{height:60px}.spacer-65{height:5px}.spacer-70{height:70px}.spacer-75{height:75px}.spacer-80{height:80px}.spacer-85{height:85px}.spacer-90{height:90px}.spacer-95{height:95px}.spacer-100{height:100px}.marginRightTen{margin-right:10px}.width-10{width:10%}.width-20{width:20%}.width-30{width:30%}.width-40{width:40%}.width-50{width:50%}.width-60{width:60%}.width-70{width:70%}.width-80{width:80%}.width-90{width:90%}.width-100{width:100%}
