/* Your CSS codes here */
/* grid */

@charset "UTF-8";
img {
    border: 0px none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.block-heading-two h3 span {
    padding-bottom: 8px;
    font-size: 34px;
    font-weight: 200;
}
.cms-banner-wrapper h1 {
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 68px;
    margin: 0px;
    text-align: left;
}
.cms-banner-wrapper p {
margin: 5% 0;
}

.sitecore-banner-wrapper .column-40 {
    padding: 3% 0px 0px 5%;
    width: 35%;
}
.news-press-home-wrapper {padding-left:10px; padding-right:10px;}
.news-press-home-wrapper h4 a {
    color: #609CEC;
    font-size: 24px;
    margin: 0px 0px 10px;
    display: inline-block;
}
.news-press-home-wrapper p {
    line-height: 20px;
    margin: 0px 0px 18px;
}
.cms-banner-wrapper .column-60 {
    width: 65%;
}
.cms-banner-wrapper p {
    margin: 5% 0px;
    font-size: 20px;
    font-weight: 200;
}
.xamarin-home-banner .banner-info h1 {
    font-size: 75px;
    line-height: 73px;
    color:#ffffff;
}
.xamarin-home-banner p {
    color: #333;
    font-size: 34px;
    font-weight: 200;
    line-height: 41px;
    margin: 39px 0 64px 0;
}
.xamarin-home-banner .btn-primary {
    background-color: #7EA6CD;
    background-image: none;
    border-color: #FFF;
}
.xamarin-home-banner .banner-info {
    background: none repeat scroll 0px 0px transparent;
}
.banner-info {
    background: url("../images/banner-back.png") repeat scroll 0px 0px transparent;
    left: 10%;
    padding: 20px;
    position: absolute;
    top: 15%;
    width: 62%;
}
.banner-info {
    top: 4%;
    width: 79%;
}
.banner-wrapper {
    margin: 0px 0px 9px;
    position: relative;
}

.slider-nav__item {
    background: none repeat scroll 0% 0% #609CEC;
}
 .slider-nav__item--current {
    background: none repeat scroll 0% 0% #C9DCEE;
}
.consulting-link, .training-link, .custom-link{
	position:absolute;
	background-image:url(../images/invisible-back.png);
	background-repeat:repeat;
	width:300px;
	height:300px;
	z-index:1000;
}
.custom-link {
    left: 44%;
    top: 25%;
}
.training-link {
    right: 3%;
    top: 30%;
}
.consulting-link{
    left: 2%;
    top: 35%;

}
.xamarin-home-banner .btn-primary:hover {
    background: #85b8d3;
}
.fu-home-banner .btn-primary {
    background-color: #8cc63f;
    background-image: none;
    border-color: #fff;
}
.fu-home-banner .btn-primary:hover {
    background: #a1e24a;
}
.fu-home-banner .banner-info h1 {
    color: #000;
}
.training-types ul{list-style-type: none; padding:75px 0;}
.training-types li {
    float: left;
    width: 18.3%;
    margin: 0px 23px 0px 0px;
    text-align: center;
}
.training-types h2 {
    font-size: 50px;
}
.training-types h3 {
    font-size: 27px;
    line-height: 37px;
    margin: 0 0 20px 0;
}
.training-types h4 {
    font-size: 20px;
    margin: 18px 0 0 0;
}
.fu-training-wrapper p{
font-size: 32px;
line-height: 38px;
margin:0 0 10px 0;
font-weight:200;
} 
.training-guides-wrapper div {
    float: left;
    margin: 0px 42px 0px 0px;
    width: 13%;
    text-align: center;
}
.training-guides-wrapper h2 {
    color: #4695CC;
    font-size: 49.5px;
    font-weight: 200;
    margin: 0px 0px 51px;
}
.training-guides-wrapper h3 {
    color: #4695CC;
    font-size: 18px;
    margin: 10px 0px 30px;
}
.pluralsight-training-wrapper {
    background-color: #FF6700;
    color: #FFF;
    height: 187px;
    margin: 4px 0px 0px;
    padding: 17px 20px 5px;
    width: 1325px;
    border-radius: 5px;
}
.pluralsight-training-wrapper p {
    color: #FFF;
    font-size: 16px;
    margin: 15px 0 0 0;
}
.contactBold {
    color: #8CC043;
    font-size: 17px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ====================       Design       ==================== */
.design-wrapper-banner .bubble-1 img {
    margin: 52px 0 0 35px;
}
.design-wrapper-banner .bubble-3 img {
    margin: 100px 0 0 47px;
}
.design-wrapper h1 {
    font-size: 115px;
    font-weight: 200;
    letter-spacing: -3px;
    margin: 4px 0px 86px;
    text-align: center;
}
.design-wrapper h2 {
    color: #1E2C3B;
    font-size: 74px;
    font-weight: 200;
    letter-spacing: -4px;
    margin: 0px 0px 50px;
}
.design-wrapper p {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin: 30px 0px;
}
.design-portfolio-item {
    text-align: center;
    margin: 150px 0px;
}

/* ====================        Microsoft Services        ==================== */

.msServicesBanner {
    height: 412px;
    background-image: url("../images/msServicesBanner.jpg");
    background-repeat: no-repeat;
}
.serviceNavigation {
    margin: 100px 0px 0px 45px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.floatLeft {
    float: left;
}
.serviceNavigation li {
    margin: 14px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.serviceNavigation a {
    color: #FFF;
}
.microsoftServices h1 {
    margin: 27px 0px 26px;
    color: #4695CC;
    letter-spacing: -3px;
    font-size: 43px;
}
.microsoftServices ul {
    margin: 0px;
    padding: 4px 0px 3px 3px;
    list-style-image: url("../images/ms_bullet2.png");
    font-size: 14px;
}
.microsoftServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.ms-training img{margin:20px 0px;}
.ms-training p{min-height:90px;}
.services-banner{background-size: contain;}
.cms-banner-wrapper h1 {
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 51px;
    margin: 0px;
    text-align: left;
}
/* ====================       Telerik Services        ==================== */

.telerikServicesBanner {
    height: 404px;
    background-image: url("../images/telerikServicesBanner.jpg");
    background-repeat: no-repeat;
}
.telerikBullet {
    list-style-image: url("../images/telerikBullet.png");
    margin: 122px 0px 0px 30px;
}
.telerikBullet li {
    margin: 9px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.telerikServices h1 {
    color: #5DE500;
    font-size: 43px;
    letter-spacing: -3px;
    margin: 30px 0px 18px;
}
.telerikServices ul {
    margin: 0px;
    padding: 0 0 0 28px;
    list-style-image: url("../images/telerik_bullet_16.jpg");
    font-size: 14px;
} 
.serviceMain li {
    margin: 18px 0px;
    font-size: 20px;
}
.telerik-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #5DE500;
    border: none;
}
.telerik-services .btn.btn-color:hover {
    background-color: #9de66a;
}
.telerik-mentor-title {
    color: #5DE500;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.kendo-mentor-title {
    color: #00B000;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.telerikServices p {
    font-size: 14px;
    margin: 0px 20px 0px 0px;
}
.kendo-training-wrapper-3 .left {
    margin: 0px 6px 0px 0px;
}
.telerikServices h3 {
    margin: 10px 0px 5px;
    color: #5DE500;
    text-align: left;
}

/* ====================    Mobile Services        ==================== */
.mobileServicesBanner {
    height: 407px;
    background-image: url("../images/mobileServicesBanner.jpg");
    background-repeat: no-repeat;
}
.mobileBullet {
    list-style-image: url("../images/mobileBullet.png");
}
.serviceNavigation li {
    margin: 18px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.mobile-platforms li {
    float: left;
    list-style-type: none;
    width: 14.7%;
}
.mobileServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.mobileServices h1 {
    margin: 30px 0px;
    color: #2BB14A;
    letter-spacing: -3px;
    font-size: 43px;
}
.mobileServices h2 {
    margin: 10px 0px 16px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 32px;
}
.mobileServices h3 {
    margin: 10px 0px 5px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 19px;
}
.mobile-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #2BB14A;
    border: none;
}
.mobile-services .btn.btn-color:hover {
    background-color: #53C16B;
}

/* ====================       SmartBear Services        ==================== */

.smartbearServices h1{color:#195ca6;}
.smartbearServices .btn.btn-color {
    background: none repeat scroll 0% 0% #195ca6;
    color: #FFF;
}
.smartbearServices .btn.btn-color:hover {
    background-color: #3b6ea6;
}
.sbServicesBanner {
    height: 404px;
    background-image: url("../images/sbServicesBanner.jpg");
    background-repeat: no-repeat;
}
.sbBullet {
    list-style-image: url("../images/sbBullet.png");
}
.consultingBoxTwo {
    margin: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    background-color: #175CA6;
    color: #FFF;
    line-height: 25px;
}
.consultingArrowTwo {
    margin: 0px 0px 0px 40px;
    width: 36px;
    height: 18px;
    background-image: url("../images/consultingArrowTwo.png");
}
.consultingBoxTwo p{color:#fff;}
.smartbearServices h4{color:#195ca6;}
.smartbearServices-title {
    color: #175CA6;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 33px;
    margin: 20px 0 6px 0;
}
.titleBold {
    color: #333;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 22px !important;
}
#pricing th {
    padding: 5px;
    width: 25%;
    background-image: url("http://static.mailchimp.com/www/images/th-arrow.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: #787975;
    vertical-align: middle;
    text-indent: 15px;
    font-size: 14px;
}
#pricing table {
    margin: 15px 0 0 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    text-align: left;
}
#pricing tr.top td {
    min-width: 265px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #efefef;
    color: #2a73b8;
    letter-spacing: -.03em;
    font-weight: bold;
    font-size: 28px;
}
#pricing td {
    padding: 21px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
#pricing .monthly-plans tr.mid td.free {
    background: none repeat scroll 0 0 #45bcd2;
}
#pricing .monthly-plans tr.mid td {
    font-size: 30px;
}
#pricing tr.mid td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.bot td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.botTwo td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}