@charset "UTF-8";

/* FONTS */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWJBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/RJMlAoFXXQEzZoMSUteGWLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-kwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12bwzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/xkvoNo9fC8O2RDydKj12b73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
/* END FONTS */

/*-------------------*/

/* TYPOGRPAHY */
/*-------------------*/
/* TYPOGRPAHY COLORS */
.pink-text{
    color:#FF4C4C;
}
/*NEED TO RESOLVE*/
.pink-text {
  color: #F93C58;
}

.white-text {
  color: #fff;
}

.sitecore-red-text {
  color: #E43026;
}

.blue-text {
	color:#609CEC;
}

/* TEXT ALIGNMENT */
.text-align-center {
	text-align: center;
}

.text-align-right {
    text-align: right;
}
/* END TYPOGRAPHY COLORS */

/* GLOBAL FONT STYLES */
p {
	color:#14171a; 
	font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #4695CC;
    font-weight:200;
}
h4 {
    font-size: 18px;
    line-height: 33px;
    margin: 28px 0 10px 0;
}
/* END GLOBAL FONT STYLES */

/* END TYPOGRPAHY */
/*-------------------*/



/* SHARED STYLES */

/* HEADER */
.header-2 .navigation .mgmenu > li > a, .header-2 .navigation .mgmenu > li > span {
    font-size: 22px;
    font-weight: 200;
    color: #4695CC;
}
.header-2 .logo {
    margin: 0px;
}
.header-2 {
    padding: 5px 0;
}
/* END HEADER */
/*-------------------*/

/* BREADCRUMB */
.breadcrumb ul{}
.breadcrumb li{list-style-type: none; float: left; margin: 0 10px 0 0;}
/* END BREADCRUMB */
/*-------------------*/

/* FOOTER */
.foot, footer {
    background-color:#14171a;
}
.foot ul {
	list-style-type: none; 
	font-weight:200; 
	font-size:14px; 
	padding:0px;
}
.foot .head {
    font-size: 24px;
    margin: 18px 0px 22px;
    color: #FFF;
}
.foot ul a {
	color:#fff;
}
.foot ul a:hover {
	color:#cccccc;
}
.foot {
    margin-top: 30px;
}
.col-md-20{
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
/* END FOOTER */
/*-------------------*/

/* BACKGROUNDS */
.grey-background {
  background-color: #efefef;
}
.background-light-grey {
    background: none repeat scroll 0% 0% #F2F2F2;
    border-top: 4px solid #efefef;
    border-bottom: 4px solid #efefef;
}
.background-border-light-grey {
    border-top: 5px solid #efefef;
    border-bottom: 5px solid #efefef;
}
.background-blue-grad {
    background-image: url("../images/blue-gradient-back.png");
    background-repeat: repeat;
}
/* END BACKGROUNDS */
/*-------------------*/

/* SHADOWS */
.shadow-top {
    background-image: url("../images/shadow-top.png");
    background-repeat: repeat-x;
    height: 22px;
    width: 100%;
}
.shadow-bottom {
    background-image: url("../images/shadow-bottom.png");
    background-repeat: repeat-x;
    height: 22px;
    width: 100%;
}
/* END SHADOWS */
/*-------------------*/

/* SHARED PAGE STYLES */
.outer .container {
    max-width: 1400px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    border: 0px none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.hideme {
  opacity: 0;
}
/* END SHARED PAGE STYLES */
/*-------------------*/

/* SERVICES ICONS BLOCK */
.services h2{font-size:100px;}
.services ul{
	list-style-type: none;
	margin: 70px 0 0 0;
}
.services li {
    float: left;
    width: 12%;
    margin: 0px 23px 0px 0px;
    text-align: center;
}
/* END SERVICES ICONS BLOCK */
/*-------------------*/

/* END SHARED PAGE STYLES */
/*-------------------*/


/* BUTTONS */

.btn-success {
  color: #FFF;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  background-color: #5BB75B;
  background-image: linear-gradient(to bottom, #62C462, #51A351);
  background-repeat: repeat-x;
  border: none;
}

.btn-success:hover {
  border: none;
  background: #51A351;
}

.sitecore-btn {
  background-color: #E43026;
  border: 6px solid #E36E67;
  padding: 20px 50px;
  font-size: 23px;
  color: #fff;
  border-radius: 4px;
}

.sitecore-btn:hover {
  background-color:  #e36e67;
  border: 6px solid #e43026;
}

.apply-btn {
  color: #fff;
  font-size: 15px;
  padding: 5px 21px;
  border: none;
  background-color: #3597C3;
  margin: 15px 0;  
}

.largeButton {
    padding: 26px;
    min-width: 207px;
    font-size: 28px;
    border-radius: 5px;
}

.redButton,
.greenButton,
.orangeButton, 
.purpleButton, 
.blueButton, 
.greyButton, 
.telerikGreenButton, 
.smartbearBlueButton, 
.darkGreyButton {
    margin: 10px 5px 0px 0px;
    padding: 20px 0;
    width: 100px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.blueButton {
    background-color: #4695CC;
}
.blueButton:hover {
    background-color: #6BAAD6;
}
.btn-md {
  padding:8px 25px; 
  font-size: 16px;
}
.btn-margin {
  margin: 20px 0;
}
.design-button a {
    background-color: #202C3C;
    color: #fff;
    padding: 12px 50px;
    font-size: 27px;
    border-radius: 4px;
}
.design-button a:hover {
  text-decoration:none;
}
.design-button {
    padding: 36px 0;
}
.green-button a {
    background-color: #8ECC3D;
}
.green-button a:hover {
    background-color: #ABD970;
}
.green-button-border a {
  background-color: #449d44;
  border: 6px solid #398439;
  padding: 20px 50px;
}
.mgmenu_container > .mgmenu > li.mgmenu_button, 
.mgmenu_fixed > .mgmenu > li.mgmenu_button, 
.mgmenu_footer > .mgmenu > li.mgmenu_button {
    background-image: url("../images/toggle.png");
}

.btn-xl {
  border-radius: 5px;
  font-size: 29px;
  padding: 28px 65px;
  line-height: 35px;
}

.btn-xl, .btn-group-xl > .btn {
    font-size: 29px;
    padding: 10px 57px;
    font-weight: 200;
}

.btn{
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

/* BUTTONS END */
/*-------------------*/



/* PAGE STYLES */

/* HOME PAGE SPECIFIC STYLES */

/* SHARED BANNER STYLES */
.banner-wrapper {
    margin: 0px 0px 9px;
    position: relative;
}
.banner-info {
    background: url("../images/banner-back.png") repeat scroll 0px 0px transparent;
    left: 10%;
    padding: 20px;
    position: absolute;
    top: 15%;
    width: 62%;
}
.banner-info {
    top: 4%;
    width: 79%;
}
/* SITECORE/CMS BANNER */
.cms-banner-wrapper h1 {
    font-size: 54px;  
    letter-spacing: -2px;
    line-height: 51px;
    margin: 0px;
    text-align: left;
}
.cms-banner-wrapper p {
    margin: 5% 0;
}
.cms-banner-wrapper .column-60 {
    width: 65%;
}
.cms-banner-wrapper p {
    margin: 5% 0px;
    font-size: 20px;
    font-weight: 200;
}
.sitecore-banner-wrapper .column-40 {
    padding: 3% 0px 0px 5%;
    width: 35%;
}

/* BANNER 2 - CONSULTING/MOBILE/TRAINING LINKS */
.consulting-link, .training-link, .custom-link{
	position:absolute;
	background-image:url(../images/invisible-back.png);
	background-repeat:repeat;
	width:300px;
	height:300px;
	z-index:1000;
}
.custom-link {
    left: 44%;
    top: 25%;
}
.training-link {
    right: 3%;
    top: 30%;
}
.consulting-link{
    left: 2%;
    top: 35%;
}

/* XAMARIN BANNER */
.xamarin-home-banner .banner-info h1 {
    font-size: 75px;
    line-height: 73px;
    color:#ffffff;
}
.xamarin-home-banner p {
    color: #333;
    font-size: 34px;
    font-weight: 200;
    line-height: 41px;
    margin: 39px 0 64px 0;
}
.xamarin-home-banner .btn-primary {
    background-color: #7EA6CD;
    background-image: none;
    border-color: #FFF;
}
.xamarin-home-banner .banner-info {
    background: none repeat scroll 0px 0px transparent;
}
.xamarin-home-banner .btn-primary:hover {
    background: #85b8d3;
}

/* FALAFEL UNIVERSITY BANNER */
.fu-home-banner .btn-primary {
    background-color: #8cc63f;
    background-image: none;
    border-color: #fff;
}
.fu-home-banner .btn-primary:hover {
    background: #a1e24a;
}
.fu-home-banner .banner-info h1 {
    color: #000;
}

/* SLIDER */
.slider-nav__item {
    background: none repeat scroll 0% 0% #609CEC;
}
 .slider-nav__item--current {
    background: none repeat scroll 0% 0% #C9DCEE;
}

/* QUOTES */
.quote-two {
    background-image: url("../images/raster.png"), url("../images/quote-back.jpg");
}
.quote-two .quote-two-content h3 {
    font-size: 28px;
    line-height: 38px;
}

/* NEWS AND PRESS SECTION */
.block-heading-two h3 span {
    padding-bottom: 8px;
    font-size: 34px;
    font-weight: 200;
}
.news-press-home-wrapper {padding-left:10px; padding-right:10px;}
.news-press-home-wrapper h4 a {
    color: #609CEC;
    font-size: 24px;
    margin: 0px 0px 10px;
    display: inline-block;
}
.news-press-home-wrapper p {
    line-height: 20px;
    margin: 0px 0px 18px;
}

/* END HOME PAGE STYLES */
/*-------------------*/


/* TRAINING PAGE STYLES */

.training-types ul{list-style-type: none; padding:75px 0;}
.training-types li {
    float: left;
    width: 18.3%;
    margin: 0px 23px 0px 0px;
    text-align: center;
}
.training-types h2 {
    font-size: 50px;
}
.training-types h3 {
    font-size: 27px;
    line-height: 37px;
    margin: 0 0 20px 0;
}
.training-types h4 {
    font-size: 20px;
    margin: 18px 0 0 0;
}
.fu-training-wrapper p{
  font-size: 32px;
  line-height: 38px;
  margin:0 0 10px 0;
  font-weight:200;
} 
.training-guides-wrapper div {
    float: left;
    margin: 0px 42px 0px 0px;
    width: 13%;
    text-align: center;
}
.training-guides-wrapper h2 {
    color: #4695CC;
    font-size: 49.5px;
    font-weight: 200;
    margin: 0px 0px 51px;
}
.training-guides-wrapper h3 {
    color: #4695CC;
    font-size: 18px;
    margin: 10px 0px 30px;
}
.pluralsight-training-wrapper {
    background-color: #FF6700;
    color: #FFF;
    height: 187px;
    margin: 4px 0px 0px;
    padding: 17px 20px 5px;
    width: 1325px;
    border-radius: 5px;
}
.pluralsight-training-wrapper p {
    color: #FFF;
    font-size: 16px;
    margin: 15px 0 0 0;
}
/* END TRAINING PAGE STYLES */
/*-------------------*/


/* CONTACT PAGE STYLES */
.contactBold {
    color: #8CC043;
    font-size: 17px;
}
/* END CONTACT PAGE STYLES */
/*-------------------*/


/* DESIGN PAGE STYLES */
.design-wrapper-banner .bubble-1 img {
    margin: 52px 0 0 35px;
}
.design-wrapper-banner .bubble-3 img {
    margin: 100px 0 0 47px;
}
.design-wrapper h1 {
    font-size: 115px;
    font-weight: 200;
    letter-spacing: -3px;
    margin: 4px 0px 86px;
    text-align: center;
}
.design-wrapper h2 {
    color: #1E2C3B;
    font-size: 74px;
    font-weight: 200;
    letter-spacing: -4px;
    margin: 0px 0px 50px;
}
.design-wrapper p {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin: 30px 0px;
}
.design-portfolio-item {
    text-align: center;
    margin: 150px 0px;
}
/* END DESIGN PAGE STYLES */
/*-------------------*/


/* MICROSOFT SERVICES PAGE STYLES */
.msServicesBanner {
    height: 412px;
    background-image: url("../images/msServicesBanner.jpg");
    background-repeat: no-repeat;
}
.serviceNavigation {
    margin: 100px 0px 0px 45px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.floatLeft {
    float: left;
}
.serviceNavigation li {
    margin: 14px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.msBullet {
    list-style-image: url("../images/msBullet.png");
}
.serviceNavigation a {
    color: #FFF;
}
.microsoftServices h1 {
    margin: 27px 0px 26px;
    color: #4695CC;
    letter-spacing: -3px;
    font-size: 43px;
}
.microsoftServices ul {
    margin: 0px;
    padding: 4px 0px 3px 3px;
    list-style-image: url("../images/ms_bullet2.png");
    font-size: 14px;
}
.microsoftServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.ms-training img{margin:20px 0px;}
.ms-training p{min-height:90px;}
.services-banner{background-size: contain;}
.cms-banner-wrapper h1 {
    font-size: 54px;
    letter-spacing: -2px;
    line-height: 51px;
    margin: 0px;
    text-align: left;
}
/* END MICROSOFT SERVICES PAGE STYLES */
/*-------------------*/


/* TELERIK SERVICES PAGE STYLES */
.telerikServicesBanner {
    height: 404px;
    background-image: url("../images/telerikServicesBanner.jpg");
    background-repeat: no-repeat;
}
.telerikBullet {
    list-style-image: url("../images/telerikBullet.png");
    margin: 122px 0px 0px 30px;
}
.telerikBullet li {
    margin: 9px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.telerikServices h1 {
    color: #5DE500;
    font-size: 43px;
    letter-spacing: -3px;
    margin: 30px 0px 18px;
}
.telerikServices ul {
    margin: 0px;
    padding: 0 0 0 28px;
    list-style-image: url("../images/telerik_bullet_16.jpg");
    font-size: 14px;
} 
.serviceMain li {
    margin: 18px 0px;
    font-size: 20px;
}
.telerik-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #5DE500;
    border: none;
}
.telerik-services .btn.btn-color:hover {
    background-color: #9de66a;
}
.telerik-mentor-title {
    color: #5DE500;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.kendo-mentor-title {
    color: #00B000;
    font-size: 31px;
    letter-spacing: -1px;
    margin: 30px 0px;
}
.telerikServices p {
    font-size: 14px;
    margin: 0px 20px 0px 0px;
}
.kendo-training-wrapper-3 .left {
    margin: 0px 6px 0px 0px;
}
.telerikServices h3 {
    margin: 10px 0px 5px;
    color: #5DE500;
    text-align: left;
}
/* END TELERIK SERVICES PAGE STYLES */
/*-------------------*/


/* MOBILE SERVICES PAGE STYLES */
.mobileServicesBanner {
    height: 407px;
    background-image: url("../images/mobileServicesBanner.jpg");
    background-repeat: no-repeat;
}
.mobileBullet {
    list-style-image: url("../images/mobileBullet.png");
}
.serviceNavigation li {
    margin: 18px 0px;
    letter-spacing: -1px;
    font-size: 20px;
}
.mobile-platforms li {
    float: left;
    list-style-type: none;
    width: 14.7%;
}
.mobileServices li {
    margin: 5px 0px 10px 20px;
    padding-left: 0px;
}
.mobileServices h1 {
    margin: 30px 0px;
    color: #2BB14A;
    letter-spacing: -3px;
    font-size: 43px;
}
.mobileServices h2 {
    margin: 10px 0px 16px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 32px;
}
.mobileServices h3 {
    margin: 10px 0px 5px;
    color: #2BB14A;
    text-align: left;
    letter-spacing: -1px;
    font-size: 19px;
}
.mobile-services .btn.btn-color {
    color: #FFF;
    background: none repeat scroll 0% 0% #2BB14A;
    border: none;
}
.mobile-services .btn.btn-color:hover {
    background-color: #53C16B;
}
/* END MOBILE SERVICES PAGE STYLES */
/*-------------------*/


/* SMARTBEAR SERVICES PAGE STYLES */

.smartbearServices h1{color:#195ca6;}
.smartbearServices .btn.btn-color {
    background: none repeat scroll 0% 0% #195ca6;
    color: #FFF;
}
.smartbearServices .btn.btn-color:hover {
    background-color: #3b6ea6;
}
.sbServicesBanner {
    height: 404px;
    background-image: url("../images/sbServicesBanner.jpg");
    background-repeat: no-repeat;
}
.sbBullet {
    list-style-image: url("../images/sbBullet.png");
}
.consultingBoxTwo {
    margin: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    background-color: #175CA6;
    color: #FFF;
    line-height: 25px;
}
.consultingArrowTwo {
    margin: 0px 0px 0px 40px;
    width: 36px;
    height: 18px;
    background-image: url("../images/consultingArrowTwo.png");
}
.consultingBoxTwo p{color:#fff;}
.smartbearServices h4{color:#195ca6;}
.smartbearServices-title {
    color: #175CA6;
    font-size: 25px;
    letter-spacing: -1px;
    line-height: 33px;
    margin: 20px 0 6px 0;
}
.titleBold {
    color: #333;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 22px !important;
}
#pricing th {
    padding: 5px;
    width: 25%;
    background-image: url("http://static.mailchimp.com/www/images/th-arrow.jpg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: #787975;
    vertical-align: middle;
    text-indent: 15px;
    font-size: 14px;
}
#pricing table {
    margin: 15px 0 0 0;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td, th {
    text-align: left;
}
#pricing tr.top td {
    min-width: 265px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #efefef;
    color: #2a73b8;
    letter-spacing: -.03em;
    font-weight: bold;
    font-size: 28px;
}
#pricing td {
    padding: 21px;
    border-right: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}
#pricing .monthly-plans tr.mid td.free {
    background: none repeat scroll 0 0 #45bcd2;
}
#pricing .monthly-plans tr.mid td {
    font-size: 30px;
}
#pricing tr.mid td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.bot td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}
#pricing tr.botTwo td {
    height: 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: none repeat scroll 0 0 #fff;
    color: #6c0;
    font-size: 28px;
}

/* END SMARTBEAR SERVICES PAGE STYLES */
/*-------------------*/


/* CONSULTING PAGE STYLES */
.consulting-quote {
  min-height: 400px;
  padding: 30px 15px;
  margin: 35px auto;
}

.consulting-quote > h1 {
  font-size: 58px;
  margin-bottom: 15px;
}

.quote-wrapper {
  margin-bottom: 50px;
}

.quote {
  margin: 15px 5px 0px 0px;
  padding: 20px;
  max-width: 1400px;
  width: 100%;
  background-color: #EFEFEF;
  color: #333;
  font-size: 18px;
  line-height: 35px;
}

.quote h5 {
  font-size: 18px;
}

.quote-arrow {
  margin: 0px 0px 10px 40px;
  width: 36px;
  height: 18px;
  background-image: url("../images/consultingArrowLightGrey.png");
}

.quote-attribute h4 {
  font-size: 26px;
  color: #666;
  margin-bottom: 7px;
}

.quote-attribute p {
  color: #666;
  line-height: 20px;
}

.consulting-about-us > .column-60 {
  padding: 9% 0 0 75px;
}

.consulting-about-us > .column-60 h2 {
  font-size: 52px;
  margin-bottom: 40px;
}

.consulting-about-us > .column-60 p {
  font-size: 20px;
  color: #666;
  font-weight: 200;
}

.consulting-about-us > .column-40 {
  text-align: center;
  margin: 30px 0;
}

.consulting-about-us img {
  width: 33%;
  display: block;
  margin: 25px auto 0;
}

.consulting-ui-design {
  margin: 35px auto 50px;;
  font-family: 'Raleway';
}

.consulting-ui-design > .column-40 {
  margin-top: 30px;
}
.consulting-ui-design h1 {
  font-family: inherit;
  font-size: 115px;
  font-weight: 200;
  line-height: 65px;
  margin-bottom: 50px;
}

.consulting-ui-design p {
  font-size: 28px;
  font-weight: 200;
  line-height: 35px;
  color: #666;
  margin-bottom: 25px;
}

.design-cta-button {
  color: #FFF;
  font-size: 27px;
  font-weight: 100;
  border-radius: 4px;
  background-color: #1483C6;
  border: 6px solid #BAE0F7;
  padding: 20px 50px;
}

.consulting-alm > .column-60 {
  margin: 40px auto 50px 7%;
  color: #333;
  width: 45%;
}

.consulting-alm > .column-40 img {
  width: 85%;
  margin: 50px auto;
  float: right;
}

.consulting-alm h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.consulting-alm h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.consulting-alm h3 {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 15px;
}

.consulting-partners {
  margin: 50px auto;
  text-align: center;
}

.consulting-partners h1 {
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: left;
}

.consulting-partners-icons img {
  width: 17%;
  margin-right: 25px;
  margin-bottom: 20px;
}

.consulting-partners-icons > img.last {
  margin-right: 0;
}
/* CONSULTING PAGE END*/
/*-------------------*/


/* COMPANY PAGE START */
.company-header-banner {
  margin-top: 35px;
}

.company-about-us {
  margin: 30px auto;
}

.about-us-icons {
  max-width: 1300px;
  margin: 30px auto;
  text-align: center;
  height: auto;
}

.about-us-icons > .column-15 {
  margin: 0 15px 0 0;
}

.about-us-h1 {
  margin-top: 10px
}

.column-15.last {
  margin: 0;
}

.company-hiring {
  background-image: url("../images/hiring-back.jpg");
  background-repeat: no-repeat;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.company-hiring-copy {
  max-width: 1000px;
  min-height: 430px;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 75px 25px;
}

.company-hiring-copy h4 {
  margin: 15px 0;
}

.company-video {
  width: 1200px;
  margin: 0px auto;
  clear: both;
  margin-bottom: 100px;
}

.company-video h1 {
  width: 90%;
  margin: 30px auto;
}
/* COMPANY PAGE END */
/*-------------------*/


/* TEAM PAGE START */
.team-wrapper,
.partners-wrapper,
.careers-wrapper,
.tc-training-wrapper,
.sf-training-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.team-member,
.partner {
  height: auto;
  margin-bottom: 65px;
  overflow: hidden;
}

.team-header-banner,
.partners-header-banner,
.careers-header-banner {
  margin: 35px 0;
}

.img-float-right {
  float: right;
  padding: 0 0 5px 7px;
  max-height: 150px;
  max-width: 150px;
}

.member-certs > img {
  max-height: 150px;
  max-width: 150px;
  margin: 0 45px;
  display: inline-block;
}

.team-member > .column-75 {
  float: right;
}
/* TEAM PAGE END */
/*-------------------*/


/* PARTNER PAGE START */

.partner > .column-75 {
  padding: 40px 0 0 40px;
}

.partner > .column-25 img {
  width: 90%;
}
/* PARTNER PAGE END */
/*-------------------*/


/* CAREERS PAGE */
.careers-info li {
  color: #14171A;
}

.available-positions {
  margin-left: 15px;
  margin-right: 15px;
}

.available-positions h5 > a {
  color: #FF4D4D;
}

.careers-wrapper p {
  line-height: 22px;
  margin-bottom: 20px;
}

.position {
  margin: 75px 0;
}

.apply-btn {
  margin-bottom: 65px;
}
/* CAREERS PAGE END */
/*-------------------*/


/* CONSULTING > SITECORE SERVICES PAGE START */
.sitecore-banner {
  min-height: 500px;
  height: auto;
}

.sitecore-banner > .column-40 {
  margin-top: 30px;
  padding: 0 0 0 5%;
}

.sitecore-banner > .column-40 img {
  margin-bottom: 20px;
}

.sitecore-banner > .column-40 p {
  font-size: 22px;
  font-family: 'Raleway';
  font-weight: 200;
  margin-bottom: 35px;
}

.sitecore-banner > .column-60 { 
  padding: 0 0 0 2%;
}

.sitecore-dev {
  margin: 35px auto;
}

.sitecore-dev > .column-50 {
  padding: 0 0 0 3%;
}

.sitecore li {
  color: #333;
  font-size: 14px;
}

.sitecore-dev h3 {
  margin-bottom: 20px;
}

.sitecore > h2 {
  font-size: 74px;
  line-height: 75px;
  margin-bottom: 20px;
}

.sitecore-mentor {
  margin: 35px auto 50px;
}

.sitecore-mentor > .column-40 img {
  float: right;
  padding-right: 50px;
}

.sitecore-mentor h4 {
  margin-bottom: 15px;
}

.sitecore-contact {
  text-align: center;
  margin: 55px auto;
}
/* CONSULTING > SITECORE SERVICES PAGE END */
/*-------------------*/


/* TESTIMONIALS */
.testimonials-wrapper,
.customer-icons {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: auto !important;
}

.testimonial-box {
  margin: 5px 5px 0 0;
  padding: 20px;
  width: 100%;
  background-color: #4695CC;
  color: #fff;
  font-size: 18px;
}

.testimonial-arrow {
  margin: 0 0 0 40px;
  width: 36px;
  height: 18px;
  background-image: url("../images/testimonialArrow.png");
}

.testimonial {
  margin-bottom: 50px;
}

.testimonial-attribute h1 {
  font-family: 'Raleway';
}

.attribute-title {
  color: #666;
  line-height: 24px;
}

.icon-wrapper {
  text-align: center;
  padding: 0;
}

.icon-wrapper img {
  margin: 8%;
  padding: 4%;
  border: 1px solid #EBEBEB;
}
/* TESTIMONIALS END */
/*-------------------*/


/* TRAINING TILES and SITEFINITY/TESTCOMPLETE */
/* SHARED STYLES */

.tile-background {
  min-height: 150px;
  margin: 0 3px;
  padding: 5px 10px;
}

.tile-background > h2 {
  font-size: 20px;
  line-height: 28px;
}

.tile-background > img {
  margin-top: 15px;
  float: right;
}

.tiles h4 {
  margin: 5px 2px 30px;
  line-height: 24px;
}

.training-customers {
  margin-top: 50px;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 30px;
}
/* TRAINING TILES and SITEFINITY/TESTCOMPLETE */
/* SHARED STYLES END */
/*-------------------*/


/* TESTCOMPLETE TRAINING PAGE */
.tc-onsite-training {
  width: 65%;
  margin: auto;
}

.tc-onsite-training li {
  color: #333;
  margin: 10px 0;
}

.tc.tile-background {
  background-color: #175CA6;
}

.tc.tile-background:hover {
  background-color: #3479BA;
}

.p-mentoring {
  line-height: 18px;
}

.tc-training-guides {
  text-align: right;
}

.tc-faq-icon {
  width: 175px;
  margin: 0 auto;
}
/* TESTCOMPLETE TRAINING PAGE END */
/*-------------------*/


/* SITEFINITY TRAINING PAGE */
.sf-onsite-training li {
  margin: 10px 0;
}

.sf-onsite-training img {
  margin: 25px 0;
}

.sf-onsite-training > .column-60 {
  width: 50%;
  margin-left: 10%;
}

.sf-onsite-training > .column-40 {
  text-align: center;
}

.sf.tile-background {
  background-color: #5173B9;
}

.sf.tile-background:hover {
  background-color: #778EC2;
}

.mentoring-icon {
  max-width: 150px;
  margin-top: 40px;
  margin-right: 15px;
  float: right;
}
/* SITEFINITY TRAINING PAGE END */
/*-------------------*/


/* SITEFINITY SERVICES PAGE START */
.sitefinityServicesBanner {
    height: 409px;
    background-image: url("../images/sitefinity-consulting-banner.jpg");
    background-repeat: no-repeat;
}
.sitefinityBullet {
    list-style-image: url("../images/sitefinityBullet.png");
}
.sitefinityServices h1, .sitefinityServices h2, .sitefinityServices h3, .sitefinityServices h4, .sitefinityServices h5 {
    color: #5173B9;
}
.sitefinityServices h1 {
    margin: 30px 0px;
    letter-spacing: -3px;
    font-size: 43px;
}
.sitefinityServices ul {
    margin: 10px 0 15px 30px;
    padding: 0px 0px 0px 6px;
    list-style-image: url("../images/sf_bullet.jpg");
    font-size: 14px;
}
.sitefinityServices h2 {
    margin: 10px 0px 5px;
    text-align: left;
    letter-spacing: -1px;
    font-size: 24px;
}
.sitefinityServices p {
    font-size: 14px;
    line-height: 18px;
}
.sitefinityTestimonialSpacer {
    height: 20px;
}

.consultingTitle {
    color: #999;
    display: inline-block;
    font-size: 12px;
    margin: 0px 0px -30px;
}

.sitefinityQuoteBox {
    margin: 5px 5px 0px 0px;
    padding: 20px;
    width: 100%;
    background-color: #5173B9;
    color: #FFF;
    font-size: 18px;
    line-height: 25px;
}
.sitefinityArrow {
    margin: 0px 0px 0px 40px;
    width: 36px;
    height: 18px;
    background-image: url("../images/sitefinityArrow.png");
}
.sitefinityServices h3 {
    margin: 0px;
    color: #5173B9;
    font-size: 16px;
}
.sitefinityServices p {
    font-size: 14px;
    line-height: 18px;
}
.sitefinity-training-wrapper p{
width:90%;
min-height: 95px;
}
.sitefinityServices .btn.btn-color {
    background: none repeat scroll 0% 0% #5173B9;
    color: #FFF;
}
.sitefinityServices .btn.btn-color:hover {
    background: none repeat scroll 0% 0% #9db0d8;
    color: #FFF;
}
.team-wrapper, .partners-wrapper, .careers-wrapper, .tc-training-wrapper, .sf-training-wrapper {
    max-width: 1400px;
}
/* SITEFINITY SERVICES PAGE END */
/*-------------------*/


/* WELCOME TO OHIO - HUDSON PAGE START */
   .hudson-wrapper h3 {
    color: #4695cc;
    font-size: 36px;
    margin-bottom:11px !important;
}
.hudson-wrapper hr {
    margin: 75px 0;
}
.hudson-wrapper .elipse-image{width:80%; border:15px solid #efefef;}
.hudson-wrapper .title {
    color: #f33;
    font-size: 32px;
    font-weight: 200;
    line-height: 121%;
}
.hudson-wrapper iframe{border 15px solid #333}
.four-column li {
    list-style-type: none;
    width: 23%;
    margin: 0px 20px 0px 0px;
    float: left;
}
.four-column.align-center li {
   text-align: center;
}
.four-column li.last{
    margin: 0px;
}
/* WELCOME TO OHIO - HUDSON PAGE END */
/*-------------------*/


/* PORTFOLIO PAGES START */
.microsoftPortfolio h1 {
    margin: 0;
    color: #333;
    letter-spacing: -2px;
    font-size: 46px;
}
.microsoftPortfolio h2 {
    margin: 0 0 0 14px;
    padding: 0;
    color: #333;
    letter-spacing: -2px;
    font-size: 30px;
}
.microsoftPortfolioBanner {
    margin: 10px 0;
    width: 1200px;
    height: 222px;
    background-repeat: no-repeat;
}
.microsoftPortfolioGER {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortGer.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolio-agworks {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPort-agworks.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioJaroth {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortJaroth.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioClockwork {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortClockwork.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioBoswell {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortBoswell.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioQuidsi {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortQuidsi.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioWebb {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortWebb.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioSBS {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortSBS.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioEventboard {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortEventboard.jpg);
    background-repeat: no-repeat;
}
.mobilePortfolioBugs {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/mobilePortBugs.jpg);
    background-repeat: no-repeat;
}
.mobilePortfoliomvcs {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/mobilePortmvcs.jpg);
    background-repeat: no-repeat;
}
.mobilePortfolioSFHub {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/mobilePortSFHub.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioUMC {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortUMC.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioSiteboard {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 517px;
    background-image: url(../images/msPortSiteboard.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioTelerik {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortTelerik.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioDSN {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortDSN.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioChevron {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortChevron.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioAlphaMetrix {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 90px;
    background-repeat: no-repeat;
}
.microsoftPortfolioAlphaMetrixTwo {
    margin: 0 0 10px;
    width: 1200px;
    height: 612px;
    background-image: url("../images/amPortShell.jpg");
    background-repeat: no-repeat;
}
.microsoftPortfolioEBF {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 90px;
    background-image: url(../images/msPortEBF.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioJBT {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 90px;
    background-image: url(../images/msPortJBT.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioSHFB {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 90px;
    background-image: url(../images/msPortSHFB.jpg);
    background-repeat: no-repeat;
}
.microsoftPortfolioAvailtech {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/msPortAvailtech.jpg);
    background-repeat: no-repeat;
} 
.microsoftPortfolioTitleGER {
    padding: 24px 0 0 233px;
    font-size: 39px;
}
.microsoftPortfolioTitleJaroth {
    padding: 12px 0 0 182px;
     font-size: 39px;
}
.microsoftPortfolioTitle {
    padding: 17px 0 0 150px;
     font-size: 39px;
}
.microsoftPortfolioTitleBoswell {
    padding: 12px 0 0 15px;
     font-size: 39px;
}
.microsoftPortfolioTitleQuidsi {
    padding: 13px 0 0 73px;
     font-size: 39px;
}
.mobilePortfolioTitleBugs {
    padding: 27px 0 0 76px;
     font-size: 39px;
}
.mobilePortfolioTitlemvcs {
    padding: 30px 0 0 140px;
     font-size: 39px;
}
.mobilePortfolioTitleSFHub {
    padding: 26px 0 0 97px;
     font-size: 39px;
}
.microsoftPortfolioTitleWebb {
    padding: 13px 0 0 146px;
     font-size: 39px;
}
.microsoftPortfolioTitleSBS {
    padding: 16px 0 0 99px;
     font-size: 39px;
}
.microsoftPortfolioTitleEventboard {
    font-size: 39px;
    padding: 30px 0 0 237px;
}
.microsoftPortfolioTitle-agworks {
    font-size: 39px;
    padding: 20px 0 0 167px;
}
.microsoftPortfolioTitleUMC {
    padding: 15px 0 0 281px;
     font-size: 39px;
}
.microsoftPortfolioTitleSiteboard {
    padding: 10px 0 0 95px;
     font-size: 39px;
}
.microsoftPortfolioTitleTelerik {
    padding: 17px 0 0 208px;
     font-size: 39px;
}
.microsoftPortfolioTitleDSN {
    padding: 17px 0 0 77px;
     font-size: 39px;
}
.microsoftPortfolioTitleChevron {
    padding: 17px 0 0 77px;
     font-size: 39px;
}
.microsoftPortfolioTitleamTwo {
    padding: 26px 0 0 261px;
     font-size: 39px;
}
.microsoftPortfolioTitleAlphaMetrix {
    padding: 21px 0 0 248px;
     font-size: 39px;
}
.microsoftPortfolioTitleEBF {
    padding: 16px 0 0 96px;
     font-size: 39px;
}
.microsoftPortfolioTitleJBT {
    padding: 18px 0 0 180px;
     font-size: 39px;
}
.microsoftPortfolioTitleSHFB {
    padding: 15px 0 0 107px;
     font-size: 39px;
}
.microsoftPortfolio ul {
    margin: 0 0 0 23px;
    padding: 0;
    list-style-image: url("../images/ms_bullet2.png");
    font-size: 16px;
}
.webb {
    margin-left: 5px!important;
}
.siteboard {
    margin-left: 5px!important;
}
.DSN {
    width: 142px;
}
.chevron {
    margin-left: -3px!important;
    width: 194px;
}
.noImage {
    margin: 20px 0 20px 16px!important;
    list-style-image: url("../images/ms_bullet2.png");
}
.noImage li {
    margin: 5px 0 10px 20px;
    padding-left: 0;
}
.microsoftPortfolio li {
    margin: 5px 0 10px 20px;
    padding-left: 0;
}
.microsoftPortfolioList {
    padding: 72px 0 0 765px;
}
.microsoftPortfolioList li {
 margin: 5px 0 10px 20px;
    padding-left: 0;  
}
.microsoftPortfolioList ul {
  margin: 0 0 0 23px;
    padding: 0;
    list-style-image: url("../images/ms_bullet2.png");
    font-size: 16px;   
}
.boxPortfolio {
    margin: 40px 0;
    padding: 10px;
    width: 100%;
    background-repeat: repeat;
}
.boxPortfolio p {
    margin: 20px;
    color: #fff;
    font-size: 17px;
    line-height: 26px;
}
.portDivider {
    margin: 30px 0;
    width: 100%;
    height: 4px;
    background-image: url("../images/sfPortBorder.png");
    background-repeat: repeat-x;
}
.testimonialLeft {
    float: left;
    margin: 17px 22px 0 0;
    width: 97px;
    height: 96px;
    background-image: url("../images/quote.jpg");
    background-repeat: no-repeat;
}
.testimonialRight {
    float: left;
    width: 89%;
}
.testimonialTextOne {
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
.testimonialTextTwo {
    color: #666;
    font-size: 14px;
}
.testimonialWrapper {
    margin: 0px 0px 0px 10px;
    width: 100%;
    height: 170px;
}
.testimonialWrapperTwo {
    width: 950px;
    height: 226px;
}
.viewMorePortBtn {
    margin: 138px 0 0 503px;
}
.viewMorePortBtnTwo {
    margin: 78px 0 0 509px;
}
.viewMorePortBtnStorevoyant {
    margin: 91px 0 0 464px;
}
.viewMorePortBtnClockwork {
    margin: 199px 0 0 517px;
}
.mobilePortfolio ul {
    margin: 10px 0 0 47px;
    padding: 0;
    list-style-image: url("../images/phone_bullet_19.jpg");
    font-size: 16px;
}
.mobilePortfolio li {
    margin: 5px 0 10px 20px;
    padding-left: 0;
}
.mobilePortfolioAM {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/mobilePortAM.jpg);
    background-repeat: no-repeat;
}
.mobilePortfolioSpinboard {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/mobilePortSpinboard.jpg);
    background-repeat: no-repeat;
}
.mobilePortfolioTogo {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 571px;
    background-image: url(../images/mobilePortTogo.jpg);
    background-repeat: no-repeat;
}
.mobilePortfolioTitleAM {
    padding: 17px 0 0 259px;
}
.mobilePortfolioTitleSpinboard {
    padding: 13px 0 0 45px;
}
.mobilePortfolioTitleTogo {
    padding: 19px 0 0 136px;
}
#mobilePortfolio {
    width: 975px;
    text-align: left;
}
.mobilePortfolio h1 {
    color: #333;
    letter-spacing: -2px;
    font-size: 46px;
}
.mobilePortfolio h2 {
    color: #333;
    letter-spacing: -2px;
    font-size: 30px;
}
.Togo {
    margin-left: -40px!important;
}
.mobilePortfolioList {
    padding: 72px 0 0 765px;
}
.sitefinityPortfolio h1 {
    color: #333;
    letter-spacing: -2px;
    font-size: 46px;
}
.sitefinityPortfolioShell {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortShell.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioRutgers {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortRutgers.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioWomensCare {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortWomensCare.jpg);
}
.sitefinityPortfolioBrandes {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortBrandes.jpg);
}
.sitefinityPortfolioFPSC {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortFPSC.jpg);
}
.sitefinityPortfolioTapfin {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortTapfin.jpg);
}
.sitefinityPortfolioMammoth {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortMammoth.jpg);
}
.womens-care {
    padding: 14px 0 0 295px;
}
.brandes {
    padding: 14px 0 0 249px;
}
.mammoth {
    padding: 14px 0 0 190px;
}
.fpsc {
    padding: 21px 0 0 218px;
}
.tapfin {
    padding: 19px 0 0 221px;
}
.sitefinityPortfolioConnectFood {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortConnectFood.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioConEd {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortConEd.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioJasco {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortJasco.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioTheWay {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortTheWay.jpg);
    background-repeat: no-repeat;
}
.sitefinityPortfolioDashboard {
    margin: 0 0 10px 0;
    width: 1200px;
    height: 651px;
    background-image: url(../images/sfPortDashboard.jpg);
    background-repeat: no-repeat;
}
.rutgers {
    padding: 18px 0 0 185px;
    font-size: 37px!important;
}
.shell {
    padding: 18px 0 0 109px;
    font-size: 37px!important;
}
.dashboard {
    padding: 18px 0 0 93px;
    font-size: 37px!important;
}
.connectFood {
    padding: 22px 0 0 209px;
}
.conEd {
    padding: 17px 0 0 147px;
}
.jasco {
    padding: 27px 0 0 173px;
}
.theWay {
    padding: 18px 0 0 116px;
}
.sitefinityPortfolioTitle {
    padding: 17px 0 0 101px;
}
.sitefinityPortfolio ul {
    list-style-image: url("../images/sf_bullet.jpg");
    font-size: 16px;
     margin: 0 0 10px 25px;
}
.sitefinityPortfolio li {
    margin: 5px 0 10px 20px;
    padding-left: 0;
}
.sitefinityPortfolioList {
    padding: 72px 0 0 765px;
}
.telerikPortfolio ul {
    margin: -20px 0 0 22px;
    padding: 0;
    list-style-image: url("../images/telerik_bullet_16.jpg");
    font-size: 16px;
}
.telerikPortfolio li {
    margin: 5px 0 10px 20px;
    padding-left: 0;
}
.boxPortfolio {
    margin: 40px 0px;
    padding: 10px;
    width: 100%;
    background-repeat: repeat;
}
.telerikGreen {
    background-color: #5DE500;
}
.blue {
    background-color: #4695CC;
}
.sitefinity-purple {
    background-color: #5173B9;
}
.red {
    background-color: #AE2035;
}
.red a {
    color:#fff;
    text-decoration: underline;
}
.red a:hover {
    color:#f2f2f2;
    text-decoration: underline;
}
/* PORTFOLIO PAGES END */
/*-------------------*/



/*-------------------*/
/*-------------------*/
/*-------------------*/
