/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 5000px) {
.col-md-20 {
        width: 20%;
        float: left;
    }
.training-guides-wrapper div {
    width: 13.6%;
}
.portHeaderTwoMobile, .port-image-mobile {
    display: none;
}
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 1440px) {
.xamarin-home-banner p {
    line-height: 40px;
    margin: 0px 0px 34px;
    font-size: 29px;
}
.xamarin-home-banner .banner-info h1 {
    font-size: 51px;
    line-height: 56px;
}
.cms-banner-wrapper h1 {
    font-size: 40px;
    line-height: 51px;
}
.cms-banner-wrapper p {
    font-size: 15px;
}
.btn-xl, .btn-group-xl > .btn {
    font-size: 25px;
    padding: 10px 41px;
}
.green-button-border a {
    padding: 11px 41px;
}
.training-types li {
    width: 18%;
}
.training-types h3 {
    font-size: 23px;
}
.pluralsight-training-wrapper {width:100%;}
.training-guides-wrapper div {
    width: 13%;
}
.row {
    margin-left: 15px;
    margin-right: 15px;
}
.design-wrapper{padding-left:15px; padding-right:15px;}
.serviceNavigation {
    margin: 96px 0px 0px 45px;
}
.sitefinityBullet {
    margin: 110px 0px 0px 30px;
}
.telerikBullet {
    margin: 8% 0 0 1%;
}
.serviceNavigation li {
    margin: 9px 0px;
    letter-spacing: -1px;
    font-size: 17px;
}
.column3 {
    width: 32%;
}
#pricing table {
    width: 100% ;
}
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 1200px) {
.training-guides-wrapper div {
    width: 12%;
}
.pluralsight-training-wrapper {
    height: 152px;
    width: 100%;
}
.training-types li {
    width: 17%;
}
.column-40.text-align-right  {
    width: 34%;
    margin: 0 0 0 45px;
}
.column-40.text-align-left  {
    width: 34%;
    margin: 0 45px 0 0;
}
.design-wrapper{padding-left:15px; padding-right:15px;}
.serviceNavigation li {
    margin: 3px 0px;
    font-size: 15px;
}
.services li {
    width: 11%;
}
.column2 {
    width: 47%;
    margin: 0 20px 0 0;
}
.column3 {
    width: 32%;
}
#pricing table {
    width: 100% ;
}
.sitefinityBullet {
    margin: 84px 0px 0px 30px;
}
.microsoftPortfolioAvailtech, .microsoftPortfolioGER, .microsoftPortfolioJaroth, .microsoftPortfolioBoswell, .microsoftPortfolioQuidsi, .microsoftPortfolioWebb, .microsoftPortfolioUMC, .microsoftPortfolioSBS, .microsoftPortfolioEventboard, .microsoftPortfolioSiteboard, .microsoftPortfolioDSN, .microsoftPortfolioChevron, .microsoftPortfolioAlphaMetrixTwo, .microsoftPortfolioTelerik, .microsoftPortfolioSHFB, .microsoftPortfolioJBT, .microsoftPortfolioEBF, .microsoftPortfolioClockwork, .mobilePortfolioAM, .mobilePortfolioBugs, .mobilePortfoliomvcs, .mobilePortfolioSFHub, .mobilePortfolioSpinboard, .mobilePortfolioTogo, .sitefinityPortfolioWomensCare, .sitefinityPortfolioRutgers, .sitefinityPortfolioShell, .sitefinityPortfolioDashboard, .sitefinityPortfolioConnectFood, .sitefinityPortfolioConEd, .sitefinityPortfolioJasco, .sitefinityPortfolioTheWay, .sitefinityPortfolioBrandes, .sitefinityPortfolioFpsc, .sitefinityPortfolioTapfin, .sitefinityPortfolioMammoth, .microsoftPortfolio-agworks, .sitefinityPortfolioFPSC {
    background-image: none;
    background-repeat: no-repeat;
    height: auto;
    margin: 0px;
    width: 100%;
}
.microsoftPortfolioList, .mobilePortfolioTitleSpinboard, .mobilePortfolioTitleTogo, .mobilePortfolioList, .womens-care, .rutgers, .shell, .dashboard, .connectFood, .conEd, .jasco, .theWay, .sitefinityPortfolioList, .brandes, .tapfin, mammoth, .fpsc {
    padding: 20px 0px;
}
.microsoftPortfolioTitleGER, .microsoftPortfolioTitleJaroth, .microsoftPortfolioTitleBoswell, .microsoftPortfolioTitleQuidsi, .microsoftPortfolioTitleWebb, .microsoftPortfolioTitleUMC, .microsoftPortfolioTitleSBS, .microsoftPortfolioTitleEventboard, .microsoftPortfolioTitleSiteboard, .microsoftPortfolioTitleTelerik, .microsoftPortfolioTitleDSN, .microsoftPortfolioTitleChevron, .microsoftPortfolioTitleamTwo, .microsoftPortfolioTitleEBF, .microsoftPortfolioTitleJBT, .microsoftPortfolioTitleSHFB, .microsoftPortfolioTitleJaroth, .mobilePortfolioTitleAM, .mobilePortfolioTitleBugs, .mobilePortfolioTitlemvcs, .mobilePortfolioTitleSFHub, .microsoftPortfolioTitle-agworks {
    padding: 0px;
}
.portHeaderTwoMobile, .port-image-mobile {
    display: block;
}
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 1024px) {

  .xamarin-home-banner p {
    line-height: 34px;
    margin: -25px 0 8px 0;
    font-size: 18px;
}
.xamarin-home-banner .banner-info h1 {
    font-size: 30px;
    line-height: 37px;
}
.cms-banner-wrapper h1 {
    font-size: 40px;
    line-height: 51px;
}
.cms-banner-wrapper p {
    font-size: 15px;
}
.btn-xl, .btn-group-xl > .btn {
    font-size: 25px;
    padding: 10px 41px;
}
.green-button-border a {
    padding: 11px 41px;
}
.design-button a {
    font-size: 20px;
}
    .services li {
    width: 10%;
}
.services h3 {
    font-size: 17px;
}
.cms-banner-wrapper .column-60 {
    width: 39%;
}
.cms-banner-wrapper .column-40 {
    width: 61%;
}
.training-types li {
    width: 16.3%;
}
.training-types h3 {
    font-size: 23px;
}
.training-types h4 {
    font-size: 17px;
    line-height: 22px;
}
.column-50 {
    width: 45%;
    margin: 0 30px 0 0;
}
.training-guides-wrapper div {
    width: 10%;
}
.training-guides-wrapper h3 {
    font-size: 15px;
    line-height: 18px;
}
.pluralsight-training-wrapper {
    height: 365px;
    width: 100%;
}
.design-wrapper h2 {
    line-height: 84%;
}
.column-40.text-align-right  {
    width: 100%;
    margin: 0px;
}
.column-40.text-align-left  {
   width: 100%;
    margin: 0px;
}
.hudson-wrapper .column-40.text-align-right  {
    width: 40%;
    margin: 0px;
}
.hudson-wrapper .column-40.text-align-left  {
   width: 40%;
    margin: 0px;
}
.services-banner {
    height: 300px;
}

}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 1023px) {

.serviceNavigation{
  display:none;
}
.four-column li {
    width: 21.5%;
}
    }
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 800px) {
 
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 767px) {

    .column-40.text-align-right  {
    text-align: center;
}
.four-column li {
    width: 100%;
    margin: 30px 0;
}

.hudson-wrapper .elipse-image {
    width: 51%;
    margin: 30px 0;
}
.hudson-wrapper .column-40.text-align-right  {
    width: 100%;
    margin: 0px;
}
.hudson-wrapper .column-40.text-align-left  {
   width: 100%;
    margin: 0px;
}
.sitefinity-training-wrapper{text-align: center;}
.sitefinity-training-wrapper img {
    margin: 75px 0 0 0;
}
.sitefinity-add-ons img.icon {
    margin: 50px 0 0 0;
}
.sitefinityServices h1 {
    font-size: 30px;
}
.column-10,.column-100,.column-15,.column-20,.column-25,.column-30,.column-35,.column-40,.column-45,.column-5,.column-50,.column-55,.column-60,.column-65,.column-70,.column-75,.column-80,.column-85,.column-90,.column-95,.column1,.column2,.column3,.column4,.column5,.column6,.column75,.one-quarter,.three-quarter
{width:100%;}
.column-40.text-align-left  {
   text-align: center;
}
    .design-wrapper-banner .bubble-1 img, .design-wrapper-banner .bubble-2 img, .design-wrapper-banner .bubble-3 img, .design-wrapper-banner .bubble-4 img {
    margin: 30px 0px;
}
.design-wrapper-banner .column-25{text-align: center;}
  .design-wrapper h1 {
    font-size: 87px;
    line-height: 98%;
    margin: 0px;
}

    .design-wrapper h2 {
    line-height: 115%;
    font-size: 44px;
    letter-spacing: 0px;
}
    .column-60, .column-25 {
    width: 100%;
}
    .col-md-20 {
        width: 90%;
        float: left;
    }
   .services li {
    width: 86%;
    margin: 0 0 30px 0;
} 
.services h2 {
    font-size: 60px;
}
.quote-two .quote-two-content h3 {
    font-size: 16px;
    line-height: 24px;
}
.foot{text-align: center;}
.home-main-service div{margin:0 0 40px 0;}
.header-2 .navigation .mgmenu > li > a, .header-2 .navigation .mgmenu > li > span {
    font-size: 15px;
}
.training-guides-wrapper div {
    width: 100%;
}
.training-types li {
    width: 100%;
}
.column-50 {
    width: 100%;
}
.header-2 .navigation .mgmenu_container {
    max-width: 100%;
}
  .training-types h2 {
    font-size: 34px;
}
.training-types li {
    width: 100%;
    margin: 40px 0 0 0;
}
.pluralsight-training-wrapper {
    height: 365px;
    width: 100%;
}
.ms-training{text-align:center;}
.sb-training{text-align:center;}
.sb-training .column-25{margin:0 0 50px 0;}
.services-banner {
    height: 200px;
}
#pricing table {
    width: 100% ;
}
#pricing tr.top td {
    font-size: 19px;
    min-width: 66px;
}

}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 670px) {
 
  
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 480px) {
 #pricing tr.mid td, #pricing tr.bot td, #pricing tr.botTwo td {
    font-size: 17px;
}
}
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */
/* ============================================================================= */

@media screen and (max-width: 360px) {
 .pluralsight-training-wrapper {
    height: 363px;
    width: 285px;
}
.services-banner {
    height: 90px;
}
#pricing tr.mid td, #pricing tr.bot td, #pricing tr.botTwo td {
    font-size: 17px;
}
#pricing td {
    padding: 6px;
}
}



