@media only screen and (min-width: 1441px) and (max-width: 5000px) {


	.wrapper-2013 {
    width: 1440px;
  }	
  .carousel-inner {
    margin: 0 auto;
    width: 1201px;
}
.fn-container{display:none;}
#falafel_photobox {
  /*  margin: 0 auto;
    width: 1200px !important; */
}
#header {
    height: 112px;
}
.ebook-wrapper .right {
    width: 70%;
}
.xamarin-services-wrapper .column-30 {
	width:33%;
}
.home-service-wrapper .column3 {width:33.3%;}
.sfproductDescription {
    min-height: 600px;
}
.banner-info {
    top: 4%;
    width: 79%;
}
.falafel-con-mobile-banner{display:none;}
.smartbear-training-guides{width:1300px;}
}

/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 1921px) and (max-width: 5000px) {
.large-banner{margin:0px auto; width:1920px;}

}

/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 1800px) and (max-width: 5000px) {
.xamarin-home-banner .banner-info h1 {
    font-size: 75px;
    line-height: 73px;
}

}

/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 1200px) and (max-width: 1440px) {
	
	.wrapper-2013 {
    width: 1160px;
}
.fn-container{display:none;}
.consulting-link {
    left: 2%;
    top: 28%;
}
.custom-link {
    left: 36%;
    top: 4%;
}
.fu-classes-wrapper li {
    min-height: 585px;
    width: 20%;
}
.falafel-con-mobile-banner{display:none;}
.banner-info {
    left: 2%;
    top: 6%;
    width: 93%;
}
.banner-info h1 {
    font-size: 30px;
}
.banner-info h2 {
    font-size: 22.5px;
}
.sfproductDescription {
    min-height: 600px;
}
  .home-service-wrapper .column3 {width:33.3%;}
  .xamarin-services-wrapper .column-30 {
	width:33%;
}
.xamarin-banner-p {
   margin:0 25px;
}
.design-button a {
    font-size: 23px;
}
  .carousel-inner {
    margin: 0 auto;
    width: 1200px;
}
#falafel_photobox {
    margin: 0 auto;
    width: 1200px !important;
}
#header {
    height: 112px;
}
.ebook-wrapper .right {
    width: 70%;
}
.fu-sections-wrapper .column-20 {
    margin: 0 33px 0 0;
    width: 17%;
}
.design-wrapper .column-60 {
    margin: 0 15px;
    width: 54%;
}
.sitecore-banner-wrapper .column-60 {
    margin: 0px;
    width: 60%;
}
.xamarin-home-banner p {
    font-size: 25px;
    line-height: 33px;
    margin: 13px 0;
}
}


/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 1024px) and (max-width: 1199px) {
	
	.wrapper {
    width: 1024px;
	overflow:hidden;
  }	
  .service-wrapper-2014 .column-10 {
    width: 11.6%;
}
  .fn-container{display:none;}
  .consulting-ui-btn.design-button a {
   font-size:18px;
}
  .storeButton {
    padding: 10px 30px;
}
  .fu-classes-wrapper li {
    width: 19%;
	min-height: 700px;
}
  .xamarin-home-banner p {
    font-size: 25px;
    line-height: 33px;
    margin: 13px 0;
}
 .xamarin-home-banner .banner-info .btn {
    right: 13px;
    top: 210px;
}
  .falafel-con-mobile-banner{display:none;}
  .banner-wrapper {
    margin: -29px 0 10px;
}
.home-banner-all{margin-top:0px;}
.consulting-link {
    left: 3%;
    top: 39%;
}
.custom-link {
    left: 35%;
    top: 12%;
}
.consulting-link, .training-link, .custom-link {
    height: 200px;
}
.banner-info {
    height: 194px;
    left: 2%;
    top: 6%;
    width: 93%;
}
.banner-info h1 {
    font-size: 30px;
}
.banner-info h2 {
    font-size: 22.5px;
}
.banner-info .btn {
    position: absolute;
    right: 15px;
    top: 126px;
}
  .portBoxFour {
width: 281px;
}
.training-guides-wrapper div {
    width: 12%;
}
  .training-sub-section-wrapper h2 {
font-size: 22px;
}
.training-sub-section-wrapper .column-25 {
    min-height: 435px;
    width: 16.1%;
}
  .sfproductDescription {
    min-height: 600px;
}
	.wrapper-2013 {
    width: 970px;
}
.xamarin-banner-p {
   margin:0 25px;
}
.fu-sections-wrapper .column-20 {
    margin: 0 27px 0 0;
    width: 17%;
}
  .xamarin-services-wrapper .column-30 {
	width:33%;
}
 .xamarin-wrapper .design-button a {
    font-size: 16px;
}
.service-wrapper-2014 .column-15 {
    width: 14.6%;
    margin: 0 10px;
}
.company-icon-wrapper .column-15 {
    width: 14% ;
}
  .ebook-wrapper .right {
    width: 70%;
}
  .sfproductDetailsWrp {
    margin-top: 30px;
}
  .sfproductDescription {
    width: 63%;
}
  .logoContainer {
    width: 330px;
}
.logoWrapper {
    width: 1040px;
}
  .testimonialPageBox {
    width: 984px;
}
  .falafel-con-agenda-2 .section-3 {
    min-height: 131px;
}
  .falafel-con-agenda-2 .section-1 {
    min-height: 285px;
}
  .falafel-con-agenda-2 .section-2 {
    min-height: 285px;
}
  .falafel-con-agenda-2 .third {
    width: 859px;
}
.falafel-con-agenda-2 .all {
    width: 859px;
}
.falafel-con-agenda-2 .fifth {
    width: 189px;
}
  .column-25 {
    margin: 0 10px 0 0;
    width: 23.7%;
}
.speakers .column-50 {
    margin: 0 30px 0 0;
    width: 46.9%;
}
.column-20 {
    margin: 0 10px 0 0;
    width: 19%;
}
.falafel-con-boxes .inner-box {
    min-height: 302px;
    width: 236px;
}
  .metroHomeWidgetNews, .homePrefooterInnerTwo .RadRotator {
    width: 684px;
}
  .contactFormWrapper input {
    width: 450px;
}
    .kendo-ui-form input {
    width: 92%;
}
  .consultingBoxTwo {
    width: 983px;
}
.see-test-video iframe {
    width: 1007px;
	 height: 755px;
}
  .column-50 {
    margin: 0 15px 0 0;
    width: 48%;
}
#pricing table {
    width:1024px;
}
  .design-wrapper-banner .bubble-1 img {
    margin: 52px 0 0;
}
.design-wrapper-banner .bubble-3 img {
    margin: 100px 0 0 25px;
}
.design-wrapper h2, .fu-classes-wrapper .title {
    font-size: 62px;
    line-height: 84px;
}
.design-wrapper .column-40 img{
width:90%;	
}
.home-service-wrapper .column3 {
    margin: 0 0 0 13px;
    width: 31.5%;
}
.column3 {
    margin: 0 34px 0 0;
    width: 30%;
}
.column2 {
    margin: 0 10px 0 0;
    width: 49%;
}
.sf-con-training-box {
    width: 240px;
	height: 192px;
}
.mentorBox {
    height: 196px !important;
    padding: 112px 29px 0 31px !important;
    width: 287px !important;
}
.team-cert.thirds li {
    margin: 0 6%;
}
.team-cert li {
    margin: 0 0 0 9px;
}
.mobile-platforms li {
    width: 14.6%;
}
.aboutBoxTraining {
    width:58%;
}
.metroTrainingServices {
    float: left;
    text-align: left;
}
.trainingCourseware {
    margin: 0 18px 15px 0;
}
.kendo-mentor-wrapper, .pluralsight-training-wrapper {
    width: 982px;
}
.breadCrumb {
    width: 1018px;
}
.consultingBox {
    width: 987px;
}
.consultingTestimonialWrapperTwo {
    width: 261px;
}
.portBoxThird {
    width: 400px;
}
.twoHundredForty {
    height: 314px;
}
.consultingClient {
    width: 1000px;
}
.logo {
    margin: 0;
}
.threeColumn {
    width: 327px;
}
.twoSixteen {
    height: 267px;
}
.trainingTag {
    margin: 190px 0 0 !important;
}
.trainingCalendarIcon img {
    width: 76%;
}
.trainingLogo {
    left: 3%;
    top: 26%;
}
.portBoxFive {
    width: 188px;
}
.serviceTelerikLogo, .serviceSmartbearLogo, .serviceSitefinityLogo, .serviceMicrosoftLogo, .serviceMobileLogo {
    margin: 0 0 0 5%;
}
.sitefinityQuoteBox {
    width: 1024px;
}
.oneQuarterBox {
    width: 237px;
}
.lcImage {
    margin: 13px 0 0 141px;
}
.scImage {
    margin: 25px 0 0 101px;
}
.tcsImage {
    margin: 21px 0 0 150px;
}
.boxContainer {
    width: 1024px;
}
.tckImage {
    margin: 11px 0 0 106px;
}
.oneHalfWidth {
    width: 493px;
}
.widthThreeSixtySix {
    width: 281px;
}
.oneEightySix {
    height: 192px;
}
.tcFAQImage {
    margin: 39px 0 0 18px;
}
.questionText, .answerText {
    width: 881px;
}
.sfTrainingImages {
    margin: 12px 0 0 112px;
}
.msTrainingImage {
    margin: 13px 0 0 89px;
}
.oneHundredTwentySeven {
    height: 169px;
}
.boxPortfolio {
    width: 1024px;
}
.portBoxContainer {
    width: 1024px;
}
.portBoxThree {
    width: 31.7%;
}
.portBoxTwo {
    width: 496px;
}
}


/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 1024px) and (max-width: 1024px) {
	.hudson-wrapper {
    width: 960px;
	}
	.wrapper {
     width: 1000px;
}
.breadCrumb {
    width: 994px;
}
}


/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 768px) and (max-width: 1023px) {
	
.wrapper-2013 {
    width: 700px;
}
.design-wrapper.cms-banner-wrapper h1 {
    font-size: 42px;
}
.service-wrapper-2014 .column-10 {
    margin: 0 19px 0 0;
    width: 11.6%;
}
.service-wrapper-2014 h1 {
    font-size: 18px;
}
.fn-container{display:none;}
.custom-link {
    left: 36%;
    top: 14%;
}
.consulting-ui-wrapper .column-60, .consulting-ui-wrapper .column-40{
		width:100%;	
	}
.consulting-link, .training-link, .custom-link {
    height: 164px;
    width: 200px;
}
.company-icon-wrapper .new-home-h1 {
    font-size: 19px;
    line-height: 24px;
}
.fu-classes-wrapper li {
    width: 100%;
}
.partner-sub-wrapper .column-20 {
	margin: 0 13px 0 0;
}
.falafel-con-mobile-banner{display:none;}
.banner-wrapper {
    margin: -45px 0 10px;
}
.home-banner-all{margin-top:0px;}
.xamarin-home-banner .banner-info h1 {
    color: #fff;
    font-size: 25px;
}
.xamarin-home-banner p {
    font-size: 20px;
    line-height: 23px;
    margin: 13px 0;
}
.xamarin-home-banner .banner-info .btn {
    right: 15px;
    top: 137px;
}
.banner-info {
    height: 135px;
    left: 2%;
    top: 6%;
    width: 93%;
}
.banner-info h1 {
    font-size: 26px;
}
.banner-info h2 {
    font-size: 17.5px;
}
.banner-info .btn {
    position: absolute;
    right: 15px;
    top: 71px;
}
.training-guides-wrapper div {
    width: 100%;
}
.training-sub-section-wrapper .column-25 {
    margin: 0 31px 0 0;
    width: 20.8%;
}
.sfproductDescription {
    min-height: 600px;
}
.fu-banner-wrapper-training .column-50 {
    margin: 0 46px 0 0;
    width: 44%;
}
.wrapper {
    overflow: hidden;
    width: 730px;
}
  .xamarin-banner-p {
   margin:0 25px;
}
  .fu-sections-wrapper .column-20 {
    margin: 0 9px 0 0;
    width: 18%;
}
.fu-banner-wrapper .column-50 {
    margin: 0 32px 0 0;
    width: 45%;
}
  .ms-gulf-wrapper .speaker-image {
    height: 150px;
    width: 150px;
}
  .service-wrapper-2014 .column-15 {
    width: 13.6%;
	margin: 0 10px;
}
   .xamarin-wrapper .design-button a {
    font-size: 12px;
    padding: 12px 24px;
}
  .xamarin-content{margin:0 20px;}
  .xamarin-services-wrapper .column-30 {
    margin: 0 12px;
}
  .sfproductDetailsWrp {
    margin-top: 30px;
}
  .tornado-nav a {
    min-width: 138px;
}
   .sfproductDescription {
    width: 53%;
}
   .logoContainer {
    width: 375px;
}
.logoWrapper {
    width: 784px;
}
    .testimonialPageBox {
    width: 727px;
}
  .falafel-con-agenda-2 .section-1 {
    min-height: 332px;
}
.falafel-con-agenda-2 .section-3 {
    min-height: 154.5px;
}
  .falafel-con-agenda-2 .all {
    width: 603px;
}
  .falafel-con-agenda-2 .third {
    width: 603px;
}
.falafel-con-agenda-2 .fifth {
    width: 125px;
}
.falafel-con-agenda-2 .section-2 {
    min-height: 332px;
}
.falafel-con-agenda-2 .session-title {
    font-size: 19px;
}
  .falafelConRightCol {
    margin: 50px 0 50px 15px;
    padding: 20px;
}
  .speakers .column-50 {
    margin: 0 30px 0 0;
    width: 46%;
}
  .column-25 {
    margin: 0 10px 0 0;
    width: 23%;
}
.falafel-con-boxes .inner-box {
    width: 93%;
}
.largeButton {
    font-size: 20px;
    min-width: 87%;
}
  .metroNav {
    margin: 0 0 15px;
}
  .metroWrapper h1 {
    font-size: 1.8em;
}
  .column-20 {
    margin: 0 20px 0 0;
    width: 17%;
}
  .home-prefooter {
    display: none;
}
  .contactFormWrapper input {
    width: 350px;
}
    .kendo-ui-form input {
    width: 92%;
}
.contactFormWrapper textarea {
    width: 350px;
}
  .companyVideo{
	display:none;  
  }
  .companyWidgetNews {
    width: 716px;
}
.partnersLogo, .testimonialsLogo, .contactLogo, .teamLogo {
    margin: 30px 0 10px 24px;
}
  .see-test-video iframe {
    width: 727px;
	 height: 545px;
}
  .consultingBoxTwo {
    width: 727px;
}
.column-50 {
    margin: 0 15px 0 0;
    width: 48%;
}
#pricing table {
    width:738px;
}
#pricing tr.top td {
    min-width: 208px;
}
 .design-wrapper h1 {
    font-size: 81px;
}
.design-wrapper-banner .bubble-3 img {
    margin: 100px 0 0;
}
.design-wrapper-banner .bubble-1 img {
    margin: 52px 0 0;
}
.design-wrapper h2, .fu-classes-wrapper .title {
    font-size: 57px;
    line-height: 66px;
}
.design-wrapper .column-40 img{
width:90%;	
}
.design-wrapper p {
    font-size: 17px;
}
.breadCrumb {
    display: none;
}
.portBoxTwo {
    width: 98.5%;
}
.footer-social-main {
    margin: 64px 0;
}
.column2 {
    width: 100%;
}
.sf-con-training-box {
    height: 256px;
    width: 165px;
}
.portfolioDividerThree {
    width: 100%;
}
.column3 {
    margin: 0 25px 0 0;
    width: 29%;
}
.telerikServicesBanner {
    width: 100%;
}
.portBoxFive {
    min-height: 227px;
    width: 31%;
}
.serviceTelerikLogo, .serviceSmartbearLogo, .serviceSitefinityLogo, .serviceMicrosoftLogo, .serviceMobileLogo {
    margin: 0;
}
.boxContainer {
    width: 100%;
}
.column-75 {
    margin: 0 0 0 31px;
    width: 70%;
}
.team-cert.thirds li {
    margin: 0px;
}
.mobile-platforms li {
    width: 13.9%;
}
.threeColumn {
    width: 100%;
}
.metroTrainingServices {
    float: left;
    text-align: left;
}
.trainingCourseware {
    margin: 0 90px 51px 24px;
    min-height: 238px;
}
.pluralsight-training-wrapper {
    width: 728px;
}
.trainingLogo {
    left: 82%;
}
.aboutBox p {
    width: 93%;
}
.trainingCoursewareLast {
    float: left;
    margin: 20px 40px;
    min-height: 238px;
}
.trainingCourseware {
    margin: 20px 43px;
}
.consultingTestimonialWrapperTwo {
    width: 100%;
}
.portBoxSix, .mobilePortBox {
    width: 31%;
}
.consultingBox {
    width: 707px;
}
.portBoxThird {
    width: 735px;
}
.portBoxFourContact, .portBoxFour {
    width: 360px;
}
.consultingClient {
    width: 726px;
}
.sitefinityQuoteBox {
    width: 726px;
}
.logo {
    margin: 0;
}
.oneQuarterBox {
    width: 172px;
}
.tcsImage {
    margin: 21px 0 0 42px;
}
.oneHundredTwentySeven {
    height: 180px;
}
.tckImage {
    margin: 34px 0 0 22px;
}
.scImage {
    margin: 25px 0 0 19px;
}
.lcImage {
    margin: 25px 0 0 35px;
}
.oneHalfWidth {
    width: 364px;
}
.widthThreeSixtySix {
    width: 154px;
}
.oneEightySix {
    height: 234px;
}
.tcFAQImage {
    margin: 39px 0 0 -4px;
}
.questionText, .answerText {
    width: 600px;
}
.sfTrainingImages {
    margin: 24px 0 0 21px;
}
.msTrainingImage {
    margin: 13px 0 0 11px;
}
.kendo-mentor-wrapper {
    width: 738px;
}
.boxPortfolio {
    width: 768px;
}
.portBoxContainer {
    width:768px;
}
.portArrow {
    margin: 55px 25px 0 0;
}
.portBoxThree {
    width: 100%;
}
}
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */

@media only screen and (min-width: 1px) and (max-width: 479px) {
.wrapper-2013 {
    width: 290px;
}
.wrapper {
    width: 290px;
}
.sshListItem {
    display: inline !important;
}
.sshContent { 
   top:88%;
    right: 16px;
}
.btn-xl {
    font-size: 26px;
}
.fu-sections-wrapper .column-20 {
    margin: 0 13px 19px 0;
    width: 45%;
}
.tornado-nav a {
    width: 263px;
}
.well {
    width: auto;
}
.storeButtonWrapper {
    margin: 5px 0;
    width: 79%;
}
 .logoContainer {
    width: 303px;
}
  .testimonialPageBox {
    width:265px;
}
.sfsearchResultTitle {
    line-height: 33px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 21px;
    width: 95%;
}
.falafel-con-agenda-2 .section-1 {
    float: none;
    margin: 10px 0;
    width: 260px;
}
.falafel-con-agenda-2 .third {
    margin: 10px 0;
     width: 260px;;
}
.falafel-con-agenda-2 .fifth {
    float: none;
    margin: 10px 0;
      width: 260px;
}
.falafel-con-agenda-2 .all {
    margin: 16px 0;
     width: 260px;
}
.footer-social li {
    margin: 0 2px;
}
.contactFormWrapper input {
  width: 282px;
}
    .kendo-ui-form input {
    width: 92%;
}
.contactFormWrapper textarea {
    width: 282px;
}
.companyWidgetNews {
    width: 272px;
}
.see-test-video iframe {
    width: 264px;
	 height: 198px;
}
.consultingBoxTwo {
    width: 264px;
}
#pricing table {
    width: 302px;
}
#pricing tr.top td {
    font-size: 13px;
    min-width: 66px;
}
#pricing tr.mid td {
    font-size: 13px;
}
#pricing td {
    padding: 15px;
}
#pricing tr.bot td {
    font-size: 13px;
}
#pricing tr.botTwo td {
    font-size: 13px;
}
.design-wrapper h1 {
    font-size: 92px;
    line-height: 87px;
}
.design-wrapper.cms-banner-wrapper h1 {
    font-size: 41px;
    line-height: 59px;
}
.design-portfolio-item {
    margin: 50px 0;
    text-align: center;
}
.metroHomeFooter ul {
    width: 32%;
}
.serviceNavigation {
    margin: 99px 0 -1px 45px;
}
.mentorBox {
    height: auto;
    margin: 0 !important;
    padding: 38px !important;
    width: auto;
}
.mobile-platforms li {
    width: 21.9%;
}
.column-5, .column-10, .column-15, .column-20, .column-25, .column-30, .column-35, .column-40, .column-45, .column-50, .column-55, .column-60, .column-65, .column-70, .column-75, .column-80, .column-85, .column-90, .column-95,
.column-100{
width:100%;
}
.trainingTag {
    margin: 160px 0 0 !important;
}
.pluralsight-training-wrapper {
    height: 337px;
    width: 262px;
}
.trainingPartnerLogosBullet {
    display: none;
}
.trainingCalendarIcon img {
    width: 100%;
}
.portBoxThird {
    width: 300px;
}
.consultingClient {
    width: 283px;
}
.sitefinityQuoteBox {
    width: 283px;
}
.oneHundredTwentySeven {
    height: 193px;
}
.tcCap {
    display: none;
}
.consultingBox {
    width: 263px;
}
.questionText, .answerText {
    width: 149px;
}
.sfTrainingImages {
    margin: 0 0 0 164px;
}
.kendo-mentor-wrapper {
    height: 294px;
    width: 265px;
}
.boxPortfolio {
    width: 286px;
}
.portBoxContainer {
    width: 300px;
}
.portArrow {
    margin: 55px 25px 0 0;
}
.portBoxThree {
    width: 100%;
}
}

/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */


@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrapper-2013 {
    width: 400px;
}	
.wrapper{
    width: 460px;
}	
.fu-sections-wrapper .column-20 {
    margin: 0 25px 19px 0;
    width: 27%;
}
.threeColumn {
    width: 449px;
}
  .tornado-nav a {
    min-width: 179px;
}
.storeButtonWrapper {
    margin: 5px 0;
    width: 86%;
}
 .logoContainer {
    width: 458px;
}
  .testimonialPageBox {
    width: 420px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 21px;
    width: 446px;
}
.falafel-con-agenda-2 .section-1 {
    float: none;
    margin: 10px 0;
    width: 430px;
}
.falafel-con-agenda-2 .third {
    margin: 10px 0;
    width: 430px;
}
.falafel-con-agenda-2 .fifth {
    float: none;
    margin: 10px 0;
    width: 430px;
}
.falafel-con-agenda-2 .all {
    margin: 16px 0;
    width: 430px;
}
.contactFormWrapper input {
    width: 434px;
}
.contactFormWrapper textarea {
     width: 434px;
}
.companyWidgetNews {
    width: 427px;
}
.see-test-video iframe {
    width: 460px;
	 height: 345px;
}
.design-wrapper h1 {
    font-size: 55px;
}
  .consultingBoxTwo {
    width: 440px;
}
#pricing table {
    width: 458px;
}
#pricing tr.top td {
    font-size: 19px;
    min-width: 66px;
}
#pricing tr.mid td {
    font-size: 21px;
}
#pricing td {
    padding: 15px;
}
#pricing tr.bot td {
    font-size: 21px;
}
#pricing tr.botTwo td {
    font-size: 21px;
}
.mentorBox {
    height: 273px;
    margin: 0 0 0 -10px;
    padding: 158px 0 0 74px;
    width: auto;
}
.mobile-platforms li {
    width: 27.9%;
}
.trainingTag {
    margin: 156px 0 0 !important;
}
.pluralsight-training-wrapper {
    height: 300px;
    padding: 17px 19px 37px;
    width: 415px;
}
.consultingClient {
    width: 438px;
}
.portBoxThird {
    width: 450px;
}
.sitefinityQuoteBox {
    width: 460px;
}
.oneHalfWidth {
    width: 449px;
}
.consultingBox {
    width: 417px;
}
.questionText, .answerText {
    width: 318px;
}
.oneHundredTwentySeven {
    height: 206px;
}
.kendo-mentor-wrapper {
    width: 420px;
	 height: 309px;
}
.boxPortfolio {
    width: 438px;
}
.portBoxContainer {
    width:480px;
}
.portArrow {
    margin: 55px 25px 0 0;
}
.portBoxThree {
    width: 100%;
}
}

/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */
/* ============================================================================================================================================================================================ */

@media only screen and (min-width: 1px) and (max-width: 767px) {
	
	.wrapper{
	overflow:hidden;	
	}
	.service-wrapper-2014 .column-10 {
    width: 90%;
}
.slider {
    display: none;
}
	.consulting-ui-wrapper.design-wrapper h1 {
    font-size: 56px;
    line-height: 56px;
}
.padding-left-30, .padding-left-40, .padding-left-50, .padding-left-60, .padding-left-70, .padding-left-80, .padding-left-90, .padding-left-100{padding-left:10px;}
.accountNav, .logo, .metroNav, .social{display:none;}
.mobile-button a{
	 font-size: 14px;
	  padding: 21px 28px;
}
.consulting-ui-btn.design-button a {
  font-size: 15px;
    padding: 18px 21px;
}
	.storeNav {
    margin: 7px 0 35px;
}
.full-frame-video{margin:50px 0 0 0}
	.partner-sub-wrapper .column-20 {
    margin: 10px 0;
    width: 100%;
}
	.sfnewsList {
    background: none repeat scroll 0 0 #efefef;
    margin: 20px 0 0;
    padding: 17px;
}
	.falafel-con-mobile-banner {
    margin: -26px 0 28px;
}
	.banner-wrapper{display:none;}
	.banner-info{display:none;}
	.training-guides-wrapper div {
    width: 100%;
}
.positions-nav .left, .positions-nav .right{width:100%;}
	.ms-gulf-banner h1 {
    font-size: 45px;
}
.ms-gulf-banner p {
    font-size: 1em;
}
	.ebook-wrapper .right {
    margin: 0 0 30px 0;
}
.xamarin-banner-p {
    font-size: 24px;
    text-align: left;
	margin:10px 0;
}
.xamarin-services-wrapper .column-30 {
    margin: 0 0 40px;
}
.xamarin-wrapper h2 {
    font-size: 25px;
    line-height: 33px;
}
.xamarin-content p {
    font-size: 15px;
    line-height: 24px;
}
.nav-list {
    margin-bottom: 20px;
}
.resourceFormWrapper input {
    width: 91% !important;
}
.design-wrapper .column-40, .design-wrapper .column-60, .design-wrapper .column-25 {
	width:100%;
	
}
.design-wrapper-banner .bubble-1 img, .design-wrapper-banner .bubble-3 img  {
    margin: 20px 0;
}
.mobile-spacer-50{
height:50px;	
}
.mobile-spacer-20{
height:20px;	
}
	.design-wrapper .column-25{
		text-align:center;
	}
	.design-wrapper h2, .fu-classes-wrapper .title {
    font-size: 57px;
    line-height: 70px;
}
.design-wrapper p {
    font-size: 17px;
}
.design-wrapper .column-40{
	margin:50px 0;
}
.breadCrumb {
    display: none;
}
.portBoxTwo {
    width: 98.5%;
}
.metroHomeFooter ul {
    margin: 0;
    width: 100%;
}
.logo {
    margin: 0px;
    width: 100%;
}
.telerikPortTitle, .mobilePortTitle, .sitefinityPortTitle, .microsoftPortTitle{
    width: 100%;
}
.portArrow {
    margin: 28px 10px 0 0;
}
.metroNav {
    float: left;
    text-align: left;
}
.metroWrapper ul li {
    float: left;
    margin: 7px 31px 13px 0;
}
.metroWrapper .last {
    float: left;
    margin: 7px 31px 13px 0 !important;
}
.footer-social ul {
    width: 100% !important;
}
.column2, .column-30, .column3, .column4, .column-70, .column-75, .column-25, .column-60, .column-15, .column-20 {
    width: 100%;
}

.telerikServices h1 {
    font-size: 29px;
    letter-spacing: -1px;
}
.portfolioDividerThree {
    width: 100%;
}
 
.sf-con-training-box {
    width: 100%;
}
 .teamContainer .column-25 {
    text-align: center;
}
.mobile-platforms {
    margin: 0 !important;
}
.metroTrainingServices {
    float: left;
    text-align: left;
}
.aboutBoxTraining {
	height:100%;
    width: 100%;
}
.consultingTestimonialWrapperTwo-clear{
clear:both;	
}
.consultingBox p {
    margin: 0 34px 0 0;
}
.mobileAboutBox {
    height: 444px;
}
.serviceTitleTwo {
    text-align: left !important;
}
.portBoxSixLast {
    width: 100%;
}
.portBoxSix {
    width: 100%;
}
.portBoxFourContact {
    width: 100%;
}
.portBoxFour {
    width: 100%;
}
.boxContainer {
    width: 100%;
}
.consultingWrapper h1 {
    font-size: 26px !important;
    line-height: 32px;
}
.trainingLogo {
    left: 3%;
    top: 28%;
}
.tcTitles {
    width: 100%;
    float: left;
}
.oneQuarterBox {
    width: 100%;
}
.widthThreeSixtySix {
    width: 239px;
}
.oneEightySix {
    height: 213px;
}
.tcFAQImage {
    margin: 35px 0 0 28%;
}
.tcGuides {
    margin: 20px 0;
    text-align: left;
}
.msTrainingImage {
    margin: 20px 0 0;
}
.portArrow {
    margin: 33px 39px 0 0;
}
.portBoxThree {
    width: 100%;
}
.column-50 {
    width: 100%;
}
.column3 {
    width: 100%;
}
.portBoxFive {
    width: 100%;
}
.companyVideo{
	display:none;  
  }
  .contact-map{
	display:none;  
  }
  .metroHomeFooter {
    text-align: center;
}
  .home-prefooter {
    display: none;
}
.metroHomeFooterCopyright {
    margin: 55px 0;
    width: 100%;
	text-align:center;
}
.falafel-con-boxes .inner-box {
    width: 93%;
}
.largeButton {
    margin: 10px 0;
}
.falafel-con-2013-logo {
    margin: 20px 0;
}
.falafel-con-nav-square {
    margin: 14px 0;
    text-align: center;
}
.falafelConRightColTwo h2 {
    margin: 20px 0;
}
.speakers .column-50 {
    margin: 20px 0;
    width: 100%;
}
.storeButton {
    display: inline-block;
    text-align: center;
    width: 100%;
}
 .sfproductDescription {
    width: 100%;
}
.sfproductDetailsWrp {
    margin-top: 30px;
}
.TcTitle {
    width: 50%;
}
 .service-wrapper-2014 .column-15 {
    width: 100%;
}
.fu-banner-wrapper-training p {
    font-size: 19px;
    line-height: 26px;
    margin: 30px 0 0;
}
.training-sub-section-wrapper .column-25 {
    margin:0 0 20px 0;
    width: 100%;
}
.consulting-alm-wrapper .column-60{width:100%; margin: 0;}
.consulting-alm-wrapper .column-40{width:100%; margin:20px 0;}
.sf_colsOut sf_3cols_1_33, .sf_colsOut sf_3cols_2_34, .sf_colsOut sf_3cols_3_33, .sf_3cols_1_33, .sf_3cols_1_33, .sf_3cols_3_33, .sf_3cols_2_34, .sf_4cols_1_25, .sf_4cols_2_25, .sf_4cols_3_25, .sf_4cols_4_25, .sf_5cols_1_20, .sf_5cols_2_20, .sf_5cols_3_20, .sf_5cols_4_20, .sf_5cols_5_20, .sf_2cols_1_25, .sf_2cols_2_75, .sf_2cols_1_33, .sf_2cols_2_67, .sf_2cols_1_50, .sf_2cols_2_50, .sf_2cols_1_67, .sf_2cols_2_33, .sf_2cols_1_75, .sf_2cols_2_25, .sf_3cols_1_25, .sf_3cols_2_50, .sf_3cols_3_25 {
    width: 100% !important;
}
.sf_3cols_2_34 .sf_3cols_2in_34, .sf_3cols_3_33 .sf_3cols_3in_33, .sf_4cols_2_25 .sf_4cols_2in_25, .sf_4cols_3_25 .sf_4cols_3in_25, .sf_4cols_4_25 .sf_4cols_4in_25, .sf_5cols_2_20 .sf_5cols_2in_20, .sf_5cols_3_20 .sf_5cols_3in_20, .sf_5cols_4_20 .sf_5cols_4in_20, .sf_5cols_5_20 .sf_5cols_5in_20, .sf_2cols_2_67 .sf_2cols_2in_67, .sf_2cols_2_50 .sf_2cols_2in_50, .sf_2cols_2_33 .sf_2cols_2in_33, .sf_2cols_2_25 .sf_2cols_2in_25, .sf_3cols_2_50 .sf_3cols_2in_50, .sf_3cols_3_25 .sf_3cols_3in_2 {
    margin-left: 0 !important;
}
.kendo-landing-wrapper.banner h1,  .sitefinity-landing-wrapper.banner h1, .test-studio-landing-wrapper h1, .team-pulse-landing-wrapper h1 {
    font-size: 25.5px;
    line-height: 37px !important;
    margin: 30px 0;
}
.kendo-landing-wrapper.banner h2,  .sitefinity-landing-wrapper.banner h2, .test-studio-landing-wrapper h2, .team-pulse-landing-wrapper h2 {
    font-size: 20px;
    margin: 30px 0;
}
.logo{width:98px;}
.fu-classes-wrapper li {
    margin: 20px 0;
    width: 82%;
}
.hudson-wrapper .text-align-right, .hudson-wrapper .text-align-left {
    text-align: center;
}
.hudson-wrapper .title {
    font-size: 24px;
}
.hudson-wrapper hr {
    margin: 32px 0 13px;
}
.hudson-wrapper h3 {
    font-size: 25px;
    line-height: 100%;
    margin-top: 25px;
}
.hudson-wrapper .text-align-left {
	margin-top:40px;
	
}
.hudson-wrapper .elipse-image {
    width: 40%;
}
.company-icon-wrapper .column-15 {
    margin: 0 0 40px;
}
.company-icon-wrapper img {
    width: 67%;
}
.sitecore-banner-wrapper .column-60{
 margin: 0 -6px 0 22px;
}
.sitecore-banner-wrapper .column-40{
 width:90%;
}
}
